<template>
	<transition name="error-message" v-on:before-enter="setMaxHeight" v-on:after-enter="clearMaxHeight" v-on:enter-cancelled="clearMaxHeight"
		v-on:before-leave="setMaxHeight" v-on:after-leave="clearMaxHeight" v-on:leave-cancelled="clearMaxHeight">

		<p class="error-message" v-show="showError">
			<svg class="icon" viewBox="0 0 24 24">
				<path fill="none" d="M0 0h24v24H0z" preserveAspectRatio="xMidYMid meet" />
				<path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z" />
			</svg>
			<span class="message">{{ error }}</span>
		</p>
		
	</transition>
</template>

<script>
	export default {
		name: 'ErrorMessage',

		props: [ 'error' ],

		computed: {

			showError: function () {
				return Boolean( this.error );
			}
		},

		methods: {
			setMaxHeight: function ( el ) {
				this.$nextTick( function () {
					el.style.maxHeight = el.scrollHeight + 'px';
				} );
			},

			clearMaxHeight: function ( el ) {
				el.style.maxHeight = null;
			}
		}
	};
</script>


<style scoped lang="scss">
	//
	@import '../../../styles/global';
	
	//
	.error-message {
		overflow: hidden;
		display: flex;
		font-size: 12px;
		margin: 12px 0;
		line-height: 1.5;

		&-enter,
		&-leave-to {
			max-height: 0;
			.icon {
				transform: scale(0);
			}
		}
		&-enter-active {
			transition: max-height 250ms $ease-out-cubic;
			.icon {
				transition: transform 250ms $ease-in-quad 125ms;
			}
		}
		&-leave-active {
			transition: max-height 250ms $ease-in-cubic;
			.icon {
				transition: transform 250ms $ease-out-quad 125ms;
			}
		}
		&-leave,
		&-enter-to {
			.icon {
				transform: scale(1);
			}
		}
	}
	
	.icon {
		flex: none;
		height: 18px;
		fill: $red-400;
		margin-right: 0.5em;
	}
	
	.message {
		color: $blue-grey-500;
		display: block;
	}
</style>
