<template>
	<div class="otp-input" v-bind:class="statusClasses">
		<div class="placeholder">{{ placeholder }}</div>
		<input name="otp" class="input" ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-on:focus="onFocus"
		 v-on:blur="onBlur" placeholder="" autocomplete="off" v-bind:disabled="disabled" />
	</div>
</template>

<script>
	export default {
		name: 'OTPInput',

		props: ['status', 'value', 'disabled'],

		computed: {

			placeholder: function () {
				const placeholder = '        ********';
				return placeholder.substr( 8 - this.value.length, 8 );
			},

			isValid: function () {

				const isValid = ( /^[0-9A-Z]{8}$/ ).test( this.value );

				this.status.isValid = isValid;

				return isValid;
			},

			isEmpty () {
				// doesn't resolve to none and is not composed of whitespace
				const isEmpty = !( this.value ) || RegExp( /^\s*$/ ).test( this.value );
				this.status.isEmpty = isEmpty;
				return isEmpty;
			},

			statusClasses: function () {
				return {
					'in-focus': this.inFocus,
					'is-valid': !this.inFocus && this.isValid && !this.isEmpty,
					'has-error': !this.inFocus && !this.isValid && !this.isEmpty
				};
			}
		},

		data () {
			return {
				inFocus: false
			};
		},

		methods: {

			updateValue ( value ) {

				let maskResults = value.toUpperCase().trim();
				maskResults = maskResults.replace( /[^A-Z0-9]/, '' );
				maskResults = maskResults.substr( 0, 8 );

				if ( maskResults !== value ) {
					this.$refs.input.value = maskResults;
				}

				this.$emit( 'input', maskResults );
			},

			onFocus () {
				this.inFocus = true;
			},

			onBlur () {
				this.inFocus = false;
			}
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../../styles/global';
	
	//
	.otp-input {
		border-radius: 3px;
		border: 2px solid $grey-700;
		display: inline-block;
		position: relative;
		transition: border-color 300ms linear;
		width: auto;
	}

	.in-focus {
		border-color: $light-blue-400;
	}

	.is-valid {
		border-color: $light-green-500;
	}

	.has-error {
		border-color: $red-a700;
	}

	.input,
	.placeholder {
		font-family: 'Roboto Mono', monospace, sans-serif;
		display: block;
		font-size: 24px;
		letter-spacing: 6px;
		line-height: 2;
		text-align: left;
		padding: 0 8px 0 18px;
	}

	.placeholder {
		width: auto;
		white-space: pre;
		color: $blue-grey-500;
	}

	.input {
		background: transparent;
		border: 0;
		left: 0;
		outline: 0;
		position: absolute;
		top: 0;
		width: 100%;
		color: $blue-grey-800;

		&:focus {
			outline: 0;
		}

		&:disabled {
			background: transparent !important;
			border-color: $blue-grey-400 !important;
			color: $blue-grey-400 !important;
			opacity: 0.5 !important;
		}
	}
</style>
