<template>
	<button class="status-button" v-bind:class="stateClass" v-bind:disabled="disabled">
			<span class="label">{{ label }}</span>

			<svg class="checkmark" viewBox="0 0 70 70" preserveAspectRatio="xMidYMid meet">
				<path d="m31.5,46.5l15.3,-23.2"/>
				<path d="m31.5,46.5l-8.5,-7.1"/>
			</svg>
			<svg class="cross" viewBox="0 0 70 70" preserveAspectRatio="xMidYMid meet">
				<path d="m35,35l-9.3,-9.3"/>
				<path d="m35,35l9.3,9.3"/>
				<path d="m35,35l-9.3,9.3"/>
				<path d="m35,35l9.3,-9.3"/>
			</svg>

			<spinner class="spinner" outline="none" />
		</button>
</template>

<script>
	import * as LoadingStatus from 'data/LoadingStatus';
	import Spinner from 'components/ui/Spinner';

	export default {
		name: 'StatusButton',

		components: {
			'spinner': Spinner
		},

		props: [ 'label', 'disabled', 'state' ],

		computed: {
			stateClass: function () {

				if ( this.disabled ) {
					return 'is-disabled';
				}

				switch ( this.state ) {
					case LoadingStatus.BUSY:
						return 'is-busy';

					case LoadingStatus.SUCCESS:
						return 'on-success';

					case LoadingStatus.ERROR:
						return 'on-error';
				}

				return null;
			}
		}
	};
</script>

<style scoped lang="scss">
	@import '../../../styles/global';

	.status-button {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		appearance: none;
		background: transparent;
		border-radius: 52px;
		padding: 0;
		overflow: visible;
		height: 52px;
		width: 100%;
		max-width: 250px;
		border: 2px solid $light-blue-500;
		outline: 0;
		user-select: none;
		transition: width 350ms $ease-in-out-quad, border 350ms $ease-in-out-quad, background 350ms $ease-in-out-quad;
		transform: translateZ(0);
		
		&:focus {
			outline: 0;
		}

		&::-moz-focus-inner {
			padding: 0;
			border: 0;
		}
	}

	.is-disabled {
		opacity: 0.5 !important;
		border-color: $blue-grey-400 !important;
		background: transparent !important;
		
		.label {
			opacity: 1 !important;
			color: $blue-grey-400 !important;
		}

		.spinner,
		.checkmark,
		.cross {
			display: none !important;
		}
	}
	
	.label {
		color: $light-blue-500;
		flex: none;
		font-size: 17px;
		letter-spacing: 0.3px;
		font-weight: 700;
		padding: 0 52px;
		transition: opacity 250ms $ease-in-out-quad;
	}
	
	.spinner,
	.checkmark,
	.cross {
		flex: none;
		position: absolute;
		stroke-linecap: round;
		transform-origin: center;
		stroke-width: 4;
		height: 52px;
		width: 52px;
	}
	
	.spinner {
		opacity: 0;
		transition: opacity 250ms $ease-in-out-quad;
	}
	
	.path {
		stroke: $light-blue-400;
		transform-origin: center;
	}
	
	.checkmark,
	.cross {
		stroke: #FFFFFF;
		transform: scale(0);
		transition: transform 250ms $ease-in-cubic;
	}
	
	.is-busy {
		width: 52px;
		border: 4px solid $grey-300;
		
		.spinner {
			display: block;
			opacity: 1;
			transition-delay: 250ms;
		}
		
		.label {
			opacity: 0;
		}
	}
	
	.on-success,
	.on-error {
		width: 100%;
		transition-delay: 250ms;
		
		.label {
			opacity: 0;
		}

		.checkmark,
		.cross {
			transition-delay: 375ms;
		}
	}
	
	.on-success {
		background: $light-green-400;
		border-color: $light-green-400;

		.checkmark {
			transform: scale(1);
		}
	}
	
	.on-error {
		background: $red-400;
		border-color: $red-400;

		.cross {
			transform: scale(1);
		}
	}
</style>