<template>
	<div class="text-input" v-bind:class="statusClass">
		<label class="label">{{ label }}</label>
		<div class="wrapper">
			<input v-bind:name="name" class="input" ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-on:focus="onFocus"
				v-on:blur="onBlur" v-bind:disabled="disabled" />
			<div class="indicator"></div>
		</div>
		<error-message v-bind:error="error" />
	</div>
</template>

<script>
	import ErrorMessage from 'components/ui/forms/ErrorMessage';

	export default {
		name: 'text-input',

		components: {
			'error-message': ErrorMessage
		},

		props: [ 'status', 'name', 'required', 'label', 'value', 'pattern', 'mask', 'maxLength', 'disabled', 'error' ],

		data () {
			return {
				inFocus: false
			};
		},

		computed: {

			isValid: function () {

				let isValid = false;

				if ( this.isEmpty ) {
					isValid = !this.required;
				} else {
					isValid = this.pattern.test( this.value );
				}

				return isValid;
			},

			isEmpty () {
				// doesn't resolve to none and is not composed of whitespace
				const isEmpty = !( this.value ) || RegExp( /^\s*$/ ).test( this.value );
				return isEmpty;
			},

			statusClass: function () {

				if ( this.disabled ) {
					return { 'is-disabled': true };
				}

				return {
					'in-focus': this.inFocus,
					'is-valid': !this.inFocus && this.isValid && !this.isEmpty,
					'has-error': !this.inFocus && !this.isValid && !this.isEmpty
				};
			}
		},

		watch: {
			isValid: 'updateStatus'
		},

		mounted () {
			this.updateStatus();
		},

		methods: {

			updateValue ( value ) {

				// trim preceding whitespace
				let maskResults = value.replace( /^([\s])+/g, '' );
				// remove invalid characters
				maskResults = maskResults.replace( this.mask, '' );
				// limit length
				maskResults = maskResults.substr( 0, this.maxLength );

				if ( maskResults !== value ) {
					this.$refs.input.value = maskResults;
				}

				this.$emit( 'input', maskResults );
			},

			onFocus () {
				this.inFocus = true;
			},

			onBlur () {
				this.inFocus = false;
			},

			updateStatus () {
				this.status.isValid = this.isValid;
				this.status.isEmpty = this.isEmpty;
			}
		}
	};
</script>


<style scoped lang="scss">
	//
	@import '../../../styles/global';	
	//
	$line-size: 2px;
	//
	.text-input {
		position: relative;
		user-select: none;
	}
	
	.label {
		color: $blue-grey-400;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.4;
		transition: color 400ms $ease-in-out-quad;

		&--focus {
			color: $light-blue-400;
		}
		&--valid {
			color: $light-green-500;
		}
		&--error {
			color: $red-a700;
		}
	}
	
	.wrapper {
		position: relative;
		border-bottom: $line-size solid $blue-grey-200;
	}
	
	.input {
		border: 0;
		background: transparent;
		display: block;
		font-family: 'Roboto Mono', monospace, sans-serif;
		color: $indigo-800;
		font-size: 20px;
		line-height: 2;
		outline: 0;
		padding: 0;
		width: 100%;

		&:focus {
			outline: 0;
		}
		
		&:disabled {
			background: transparent !important;
			color: $blue-grey-300 !important;
		}
	}
	
	.indicator {
		border-bottom: $line-size solid $light-blue-400;
		bottom: -$line-size;
		content: "";
		position: absolute;
		transform-origin: 0 100%;
		transform: scaleX(0) translateZ(0);
		transition: transform 400ms $ease-in-expo, border-bottom-color 400ms $ease-in-out-quad;
		width: 100%;
	}

	.is-disabled {
		opacity: 0.5 !important;
		.wrapper {
			border-color: $blue-grey-400 !important;
		}

		.label,
		.input {
			color: $blue-grey-400 !important;
		}

		.indicator {
			border-bottom-color: $blue-grey-400 !important;
			transform: scaleX(0) translateZ(0);
		}

	}
	
	.in-focus {
		.label {
			color: $light-blue-400;
		}
		// border-bottom-color: $light-blue-400;
		.indicator {
			transform: scaleX(1) translateZ(0);
		}
	}
	
	.is-valid {
		.label {
			// color: $light-green-400
		}
		.indicator {
			border-bottom-color: $light-green-500;
			transform: scaleX(1) translateZ(0);
		}
	}
	
	.has-error {
		.label {
			color: $red-a700;
		}
		.indicator {
			border-bottom-color: $red-a700;
			transform: scaleX(1) translateZ(0);
		}
	}
</style>