<template>
	<div class="time-picker-track" v-on:scroll="onScroll" >
		<div v-for="n in (range  + 1)" v-bind:key="n" class="item" v-on:click.stop="selectItem( n - 1 )" v-bind:class="{ 'selected': ( ( n -1 ) === value ) }" > 
			{{ formatValue( n ) }}
		</div>
	</div>
</template>

<script>

	import { debounce } from 'lodash';
	
	export default {
		name: 'TimePickerTrack',

		props: [ 'range', 'value', 'name' ],

		watch: {
			value: 'setTrackPosition'
		},

		mounted () {
			this.$el.scrollTop = this.value * 34;
		},

		methods: {
			formatValue ( n ) {
				return ( '0' + ( n - 1 ) ).substr( -2, 2 );
			},

			onScroll ( event ) {
				const trackValue = Math.round( this.$el.scrollTop / ( this.$el.scrollHeight - this.$el.clientHeight ) * this.range );
				this.emitValue( trackValue );
			},

			selectItem ( trackValue ) {
				this.$el.scrollTop = trackValue * 34;
				this.emitValue( trackValue );
			},

			emitValue ( value ) {
				if ( value !== this.value ) {
					this.$emit( 'input', value );
				}
			},

			setTrackPosition: debounce( function () {
				this.$el.scrollTop = this.value * 34;
			}, 250 )
		}
	};
</script>


<style scoped lang="scss">
	//
	@import '../../../styles/global';	
	//
	.time-picker-track {
		position: relative;
		// height: 3 * 34px; 
		text-align: center;
		padding: 34px * 3 16px;
		overflow: hidden;
		overflow-y: auto;
		transform: translateZ(0);
	}

	.item {
		font-family: 'Roboto Mono', monospace, sans-serif;
		color: $indigo-300;
		font-size: 16px;
		line-height: 34px;
		letter-spacing: 2px;
		backface-visibility: hidden;
		transition: transform 250ms $ease-in-out-quad;
	}

	.selected {
		transform: scale( 1.5 );
		color: $indigo-800;
	}
</style>