<template> 
	<div class="time-picker">

		<div class="display" v-on:click.prevent="openPicker"  >
			<salah-time class="salah-time" v-bind:title="timeType" v-bind:time="formatedTimeString" v-bind:format="24" ></salah-time>
			<icon-button color="#F27258" ><icon name="pencil"></icon></icon-button>
		</div>

		<transition name="picker" v-bind:duration="600" >
			<div class="picker" v-if="inFocus">

				<div class="picker-display">
					<div>
						<h1 class="salah-name">{{ salahName }}</h1>
						<time class="time">{{ formatedTimeString }}</time>
						<p class="time-type">{{ timeType }}</p>
					</div>
				</div>
				
				<div class="actions">
					<ripple-button class="button" type="normal" v-on:click="onDone" color="#689F38" >Done</ripple-button>
				</div>

				<div class="tracks" >
					<time-picker-track v-bind:range="23" class="track" v-model="hours" name="hours" v-on:change="setHours" ></time-picker-track>
					<span class="divider">:</span>
					<time-picker-track v-bind:range="59" class="track" v-model="minutes" name="minutes" v-on:change="setMinutes" ></time-picker-track> 
				</div>
			</div>
		</transition>

	</div>
</template>

<script>
	import ErrorMessage from 'components/ui/forms/ErrorMessage';
	import RippleButton from 'components/ui/RippleButton';
	import Icon from 'components/ui/Icon';
	import IconButton from 'components/ui/IconButton';
	import SalahTime from 'components/salah/SalahTime';
	import TimePickerTrack from 'components/ui/forms/TimePickerTrack';

	export default {
		name: 'TimePicker',

		components: {
			'icon': Icon,
			'icon-button': IconButton,
			'error-message': ErrorMessage,
			'ripple-button': RippleButton,
			'salah-time': SalahTime,
			'time-picker-track': TimePickerTrack
		},

		props: {
			salahName: {
				type: String,
				default: ''
			},

			timeType: {
				type: String,
				default: ''
			},

			value: {
				type: String,
				default: '00:00'
			}
		},

		data () {
			return {
				inFocus: false,
				hours: 0,
				minutes: 0
			};
		},

		computed: {
			formatedTimeString () {
				const hh = ( '0' + this.hours ).substr( -2, 2 );
				const mm = ( '0' + this.minutes ).substr( -2, 2 );
				return hh + ':' + mm;
			}
		},

		watch: {
			value: 'parseValue',
			formatedTimeString () {
				this.$emit( 'input', this.formatedTimeString );
			}
		},

		mounted () {
			this.parseValue( this.value );
		},

		methods: {

			parseValue ( value ) {
				const time = value.match( /^([0-9]{2}):([0-9]{2})$/ );
				this.hours = parseInt( time[1] || 0 );
				this.minutes = parseInt( time[2] || 0 );
			},

			setHours ( name, value ) {
				this.hours = value;
			},

			setMinutes ( name, value ) {
				this.minutes = value;
			},

			setValue ( name, value ) {
				if ( name === 'hours' ) {
					this.hours = value;
				} else if ( name === 'minutes' ) {
					this.minutes = value;
				}
			},

			openPicker () {
				this.inFocus = true;
			},

			onDone () {
				this.inFocus = false;
			}
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../../styles/global';
	//
	$z-index: 0;
	$picker-z-index: 0;
	//
	.time-picker {
		position: relative;
		user-select: none;
	}

	.display {
		display: flex;
	}

	.icon {
		height: 8px + 17px + 8px;
		padding: 8px;
	}

	.picker {
		height: calc(100% - #{ 48px + 46px } );		
		position: fixed;
		width: 100vw;
		bottom:46px;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		z-index: 100;
		backface-visibility: hidden;

		&-enter, &-leave-to {
			&, .picker-display {
				transform: translateY(100%) translateZ(0);
			}
		}

		&-enter-active {
			pointer-events: none;
			transition: transform 350ms $ease-in-out-quint;
			.picker-display {
				transition: transform 350ms $ease-in-out-quint 200ms;
			}
		}

		&-leave-active { 
			pointer-events: none;
			transition: transform 350ms $ease-in-cubic 200ms;
			.picker-display {
				transition: transform 350ms $ease-in-cubic;
			}
		}

		&-enter-to, &-leave {
			&, .picker-display {
				transform: translateY(0) translateZ(0);
			}
		}
	}

	.actions,
	.picker-display,
	.tracks {
		position: relative;
		display: flex;
	}

	.picker-display {
		color: $white;
		background-color: $indigo-400;

		flex: 1 0 auto;
		align-items: center;
		justify-content: center;

		line-height: 1.4;
		text-align: center;

		z-index: $z-index + 1;
	}

	.salah-name {
		color: $white;
		margin: 0;
	}

	.time {
		font-family: 'Roboto Mono', monospace, sans-serif;
		font-size: 42px;
		font-weight: 400;
		display: block;
		margin: 0;
	}

	.time-type {
		font-size: 16px;
		color: $grey-100;
		margin: 0;
	}
	
	.actions {
		flex: none;
		z-index: $z-index + 3;
		height: 46px;
	}

	.button {
		flex: 1 0 auto;
		height: 46px;
	}
	
	.tracks {
		flex: none;
		z-index: $z-index + 2;
		position: relative;
		overflow: hidden;
		height: 7 * 34px;
		background-color: $grey-50;

		&:before,
		&:after {
			content: '';
			height: 2 * 34px;
			pointer-events: none;
			position: absolute;
			width: 100%;
		}

		&:before {
			z-index: $picker-z-index + 4;
			top: 0;
			background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) );
		}

		&:after {
			z-index: $picker-z-index + 3;
			bottom: 0;
			background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) );
		}
	}

	.divider {
		flex: none;
		align-self: center;

		border-top: 1px solid $indigo-400;
		border-bottom: 1px solid $indigo-400;

		color: $indigo-300;
		font-family: 'Roboto Mono', monospace, sans-serif;
		font-size: 24px;
		line-height: 34px;
		padding-bottom: 2px; 
		text-align: center;
		vertical-align: middle;

		margin: 0 16px;
		pointer-events: none;
		position: absolute;

		width: calc(100% - 32px);

		z-index: $picker-z-index + 5;
	}

	.track {
		flex: 1 0 auto;
		z-index: $picker-z-index + 1;
	}

</style>