<template>
	<nav class="menu-bar" ref="nav">
		<menu-link class="item" v-bind:to="{ name: 'index' }" icon="search" color="#31CCC9" />
		<menu-link class="item" v-bind:to="{ name: 'bookmarks' }" icon="bookmark-star" color="#FFDB6F" />
		<menu-link class="item" v-bind:to="{ name: 'about' }" icon="info" color="#1FCFC1" />
		<!--<menu-link class="item" v-bind:to="{ name: 'profile' }" icon="user" />-->
	</nav>
</template>

<script>
	import MenuLink from 'components/ui/nav/MenuLink';

	export default {
		name: 'MenuBar',

		components: {
			'menu-link': MenuLink
		}
	}
</script>

<style scoped lang="scss">
	//
	@import '../../../styles/global';
	
	//
	.menu-bar {
		background-color: $white;
		bottom: 0;
		border-top: 1px solid $blue-grey-100;
		display: flex;
		height: 47px;
		justify-content: center;
		left: 0;
		overflow-y: hidden;
		overflow-x: auto;
		position: fixed;
		width: 100vw;
		box-shadow: rgba(0, 0, 0, 0.1) 0 -2px 5px 0;
	}
	
	.item {
		flex: 1 0 auto;
	}
</style>