<template>
	<a class="menu-link" v-bind:class="{ 'is-active': isActive }" ref="link" v-on:click="onClick" >
		<icon class="icon" v-bind:name="icon" />
		<!--<ui-ripple-ink class="ripple" trigger="link" />-->
		<ripple-effect v-bind:opacity="0.7" v-bind:color="color" trigger="link" />
	</a>
</template>

<script>
	import Icon from 'components/ui/Icon';
	import RippleEffect from 'components/ui/RippleEffect';

	export default {
		name: 'MenuLink',

		components: {
			'ripple-effect': RippleEffect,
			'icon': Icon
		},

		props: [ 'to', 'icon', 'color' ],

		computed: {
			isActive () {
				return this.to.name === this.$route.name;
			}
		},

		methods: {
			onClick ( event ) {
				this.$router.push( this.to );
			}
		}
	}

</script>

<style scoped lang="scss">
@import '../../../styles/global';

//
.menu-link {
	background: transparent; 
	position: relative;
	overflow: hidden;
	outline: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	&:after {
		content: '';
		width: 100%;
		height: 3px;
		position: absolute;
		background-color: $indigo-400;
		bottom: 0;
		transform-origin: 50% 50%;
		transform: scaleX(0);
		transition: transform 250ms $ease-in-out-quad;
	}

	&:focus {
		outline: 0;
	}
}

.is-active {
	&:after {
		transform: scaleX(1);
	}
}

.icon {
	width: 24px;
}

// .ripple {
// 	color: $indigo-400;
// 	position: absolute;
// }
</style>