<template>
	<page class="activate">

		<header v-if="isLogin">
			<h1>Login</h1>
			<p>
				Enter your mobile number to Login. An <b>8 digit one-time-pin</b> will be sent by SMS to your registered Mobile Number.
			</p>
		</header>

		<header v-else>
			<h1 class="title">Activate your account</h1>
			<p class="description">An <b>8 digit one-time-pin</b> is being sent by SMS to your registered Mobile Number.</p>
		</header>

		<transition name="form" mode="out-in">

			<form class="form" v-on:submit.prevent="requestOTP" v-if="!showOTPInput" key="phone_number">
				<text-input class="form-control" label="Mobile Phone Number *" name="phone_number" v-model="form.phone_number" v-bind:status="status.phone_number"
					v-bind:required="true" v-bind:pattern="/^0[0-9]{9}$/" v-bind:mask="/[^0-9]/" v-bind:max-length="10" v-bind:disabled="disableInput"
					v-bind:error="errorMessage" />

				<status-button class="form-control" label="Request OTP" v-bind:state="loadingStatus" v-bind:disabled="!canRequestOTP" />
			</form>

			<form class="form" v-on:submit.prevent="activateAccount" v-else key="otp">

				<p class="phone-number">{{ this.formattedPhoneNumber }}</p>

				<otp-input class="otp-input" v-bind:status="status.otp" v-model="form.otp" v-bind:disabled="disableInput" />

				<status-button class="form-control" v-bind:label="buttonLabel" v-bind:state="loadingStatus" v-bind:disabled="!canSubmit" />

				<error-message v-bind:error="errorMessage" />

				<ripple-button type="simple" v-on:click.prevent="clearOtp">Change Number</ripple-button>
				<ripple-button type="simple" v-on:click.prevent="clearOtp">Resend Pin</ripple-button>
			</form>
			
		</transition>

	</page>
</template>

<script>
	// import * as Api from 'data/Api';
	import * as Api from 'data/Api';
	import * as LoadingStatus from 'data/LoadingStatus';
	import * as Mutations from 'data/MutationTypes';
	import Axios from 'axios';
	import ErrorMessage from 'components/ui/forms/ErrorMessage';
	import OTPInput from 'components/ui/forms/OTPInput';
	import Page from 'components/ui/layout/Page';
	import RippleButton from 'components/ui/RippleButton';
	import StatusButton from 'components/ui/forms/StatusButton';
	import TextInput from 'components/ui/forms/TextInput';

	export default {
		name: 'activate-page',

		components: {
			'error-message': ErrorMessage,
			'otp-input': OTPInput,
			'page': Page,
			'ripple-button': RippleButton,
			'status-button': StatusButton,
			'text-input': TextInput
		},

		data () {
			return {
				form: {
					phone_number: '',
					otp: ''
				},

				status: {
					phone_number: {
						isValid: false,
						isEmpty: false
					},
					otp: {
						isValid: false,
						isEmpty: false
					}
				},

				errorMessage: null,

				otpSent: false,

				loadingStatus: LoadingStatus.WAIT,

				timeoutID: null
			};
		},

		computed: {
			canRequestOTP () {
				return this.status.phone_number.isValid;
			},

			canSubmit () {
				return this.status.phone_number.isValid && this.status.otp.isValid;
			},

			disableInput () {
				return this.loadingStatus !== LoadingStatus.WAIT;
			},

			formattedPhoneNumber () {
				return this.form.phone_number.replace( /([0-9]{3})(?=[0-9]{4})/g, '$& ' );
			},

			isLogin () {
				return this.$route.path === '/login';
			},

			buttonLabel () {
				return this.isLogin ? 'Login' : 'Activate';
			},

			showOTPInput () {
				return this.status.phone_number.isValid && this.otpSent;
			}
		},

		created () {
			this.$store.commit( Mutations.APP_TITLE, 'Activate' );
		},

		mounted () {
			const phoneNumber = this.$store.state.user.phone_number;
			if ( phoneNumber ) {
				this.form.phone_number = phoneNumber;
				this.requestOTP();
			}
		},

		methods: {
			requestOTP () {
				if ( this.canRequestOTP ) {

					this.errorMessage = null;

					this.loadingStatus = LoadingStatus.BUSY;

					// return Axios.post( Api.POST_REQUEST_OTP, authData )
					Axios.post( Api.POST_REQUEST_OTP, this.form )
						.then( ( response ) => {
							this.loadingStatus = LoadingStatus.SUCCESS;

							this.timeoutID = setTimeout( () => {
								this.loadingStatus = LoadingStatus.WAIT;
								this.otpSent = true;
							}, 1000 );

						} )
						.catch( this.onRequestError )
						.catch( this.catchAllErrors );
				}
			},

			activateAccount () {
				if ( this.canSubmit ) {

					this.errorMessage = null;

					this.loadingStatus = LoadingStatus.BUSY;

					// this.$store.dispatch( 'activate', this.form )
					Axios.post( Api.POST_VALIDATE_OTP, this.form )
						.then( ( response ) => {
							this.$store.commit( Mutations.SET_USER, response.data.user );
							this.$store.commit( Mutations.SET_AUTH, response.data.token );

							this.loadingStatus = LoadingStatus.SUCCESS;

							this.timeoutID = setTimeout( () => {
								this.otpSent = true;
								this.loadingStatus = LoadingStatus.WAIT;
							}, 1000 );

						} )
						.catch( this.onRequestError )
						.catch( this.catchAllErrors );
				}
			},

			onRequestError ( error ) {
				this.loadingStatus = LoadingStatus.ERROR;

				if ( error.response.status === 401 || error.response.status === 503 ) {
					this.errorMessage = error.response.data.message;
				} else {
					this.errorMessage = 'We\'ve hit a snag please try again';
				}

				this.clearLoadingError();
			},

			catchAllErrors ( error ) {
				this.loadingStatus = LoadingStatus.ERROR;
				this.errorMessage = 'We\'ve hit a snag please try again';

				this.clearLoadingError();
			},

			clearOtp () {
				this.otpSent = false;
			},

			clearLoadingError () {
				clearTimeout( this.timeoutID );
				this.timeoutID = setTimeout( () => {
					this.loadingStatus = 'wait';
				}, 3000 + 625 );
			}
		}
	};

</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.activate {
		padding: 32px;
	}
	
	.title {
		margin-top: 0;
		font-size: 26px;
		margin-bottom: 16px;
		color: $blue-grey-100;
	}
	
	.description {
		margin: 0;
		color: $blue-grey-200;
		font-size: 15px;
		line-height: 1.6;
		// margin-bottom: 24px;
	}
	
	.form {
		// border: 2px solid $grey-300;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 24px 0;
		&-enter {
			opacity: 0;
			transform: translateY(-50%) translateZ(0);
		}
		&-enter-active {
			transition: transform 400ms $ease-out-cubic, opacity 400ms $ease-out-quad;
		}
		&-enter-to {
			opacity: 1;
			transform: translateY(0) translateZ(0);
		}
		&-leave-to {
			opacity: 0;
			transform: translateY(50%) translateZ(0);
		}
		&-leave-active {
			transition: transform 400ms $ease-in-cubic, opacity 400ms $ease-in-quad;
		}
	}
	
	.phone-number {
		font-family: 'Roboto Mono', monospace, sans-serif;
		font-size: 24px;
		line-height: 2;
		margin: 0;
	}
	
	.otp-label {
		display: block;
	}
	
	.otp-input {
		flex: none;
		margin: 14px 0;
	}
	
	.icon {
		width: 64px;
	}
	
	.form-control {
		margin: 0 auto 24px auto;
	}
</style>
