<template>
	<page class="bookmarks">
		<transition name="bookmarks" mode="out-in">

			<transition-group v-if="$store.state.user.bookmarks.length" class="mosque-list" tag="div" name="item" v-on:before-leave="beforeItemLeave" >
				<mosque-card v-for="mosque in $store.state.user.bookmarks" v-bind:key="mosque.id" v-bind:mosque="mosque" class="mosque" v-bind:action="navigateToMosque" >
					<icon-button v-on:click="removeBookmark(mosque.id)" >
						<icon name="bookmark-remove" />
					</icon-button>
				</mosque-card>
			</transition-group>

			<div v-else class="is-empty" >
				<icon name="bookmark-star" class="icon" />
				<p><b>Your Bookmarks are empty!</b></br>Bookmark your favourite Mosques and you'll find them here.</p>
			</div>

		</transition>
	</page>
</template>

<script>

	import { APP_TITLE } from 'data/MutationTypes';
	import MosqueCard from 'components/mosque/MosqueCard';
	import Page from 'components/ui/layout/Page';
	import IconButton from 'components/ui/IconButton';
	import Icon from 'components/ui/Icon';

	export default {
		name: 'bookmarks-page',

		components: {
			'page': Page,
			'mosque-card': MosqueCard,
			'icon': Icon,
			'icon-button': IconButton
		},

		computed: {},

		created () {
			this.$store.commit( APP_TITLE, 'Bookmarks' );
		},

		methods: {
			removeBookmark ( mosqueID ) {
				this.$store.dispatch( 'removeBookmark', mosqueID );
			},

			navigateToMosque ( mosque ) {
				this.$router.push( { name: 'mosque', params: { mosqueID: mosque.id } } );
			},

			beforeItemLeave ( el ) {
				el.style.maxHeight = el.scrollHeight + 'px';
				this.$nextTick( () => {
					el.style.maxHeight = 0;
				} );
			}
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.bookmarks {
		&-enter, &-leave-to {
			opacity: 0;
			transform: scale(0.5);
		}

		&-leave, &-enter-to {
			opacity: 1;
			transform: scale(1);
		}

		&-leave-active, &-enter-active {
			transition: transform 300ms $ease-in-out-quad, opacity 300ms $ease-in-out-quad;
		}
	}

	.icon {
		max-width: 160px;
		margin-bottom: 24px;
	}

	.is-empty {
		text-align: center;
		padding: 36px;
		color: $indigo-400;
		font-size: 16px;
	}

	.title {
		font-size: 24px;
	}

	.item {

		&-leave-active {
			transition: max-height 300ms $ease-in-out-quad;
		}
		
		&-leave-to {
			max-height: 0;
		}
	}
</style>