<template>
	<page class="profile">
		<time-picker />
	</page>
</template>

<script>

	import { APP_TITLE } from 'data/MutationTypes';
	import Page from 'components/ui/layout/Page';
	import TimePicker from 'components/ui/forms/TimePicker';

	export default {
		name: 'profile-page',

		components: {
			'page': Page,
			'time-picker': TimePicker,
		},

		created () {
			this.$store.commit( APP_TITLE, 'Profile' );
		},

		methods: {
			removeBookmark ( mosqueID ) {
				this.$store.dispatch( 'removeBookmark', mosqueID );
			}
		}
	}

</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.profile {
	}
</style>