<template>
	<page class="signup">
	
		<header>
			<h1 class="title">Sign Up</h1>
			<p class="description">Signing up is quick and easy and allows you manage Mosques and times.</p>
		</header>
	
		<section>
	
			<form class="form" v-on:submit.prevent="processForm">
	
				<text-input class="form-control" label="Firstname *" v-bind:status="status.firstname" name="firstname" v-model="form.firstname" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.firstname" ></text-input>
	
				<text-input class="form-control" label="Lastname *" v-bind:status="status.lastname" name="lastname" v-model="form.lastname" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.lastname" ></text-input>
	
				<text-input class="form-control" label="Organization" v-bind:status="status.organization" name="organization" v-model="form.organization" v-bind:required="false" v-bind:pattern="/^([\S].{2,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.organization" ></text-input>
	
				<text-input class="form-control" label="Mobile Phone Number *" name="phone_number" v-model="form.phone_number" v-bind:status="status.phone_number" v-bind:required="true" v-bind:pattern="/^0[0-9]{9}$/" v-bind:mask="/[^0-9]/" v-bind:max-length="10" v-bind:disabled="disableInput" v-bind:error="errors.phone_number" ></text-input>
	
				<div class="form-control">
					<label class="tandc">
						<ripple-checkbox type="checkbox" v-model="form.accepted_terms" v-bind:disabled="disableInput" ></ripple-checkbox>
						<span class="tandc-label">I accept the terms and conditions</span>
					</label>
				</div>
	
				<error-message v-bind:error="errors.server"></error-message>
	
				<status-button class="form-control" label="Register" v-bind:state="loadingStatus" v-bind:disabled="!canSubmit"></status-button>
	
			</form>
		</section>
	
		<footer class="footer">
			<p class="has-account">Already have an account?</p>
			<ripple-button type="simple" color="#FFCA28" rippleColor="#FFE082" v-on:click="navigate({ path: 'login' })">Login</ripple-button>
		</footer>
	
	</page>
</template>

<script>
import Axios from 'axios';

import Api from 'data/Api';
import * as LoadingStatus from 'data/LoadingStatus';
import * as Mutations from 'data/MutationTypes';
import ErrorMessage from 'components/ui/forms/ErrorMessage';
import Page from 'components/ui/layout/Page';
import StatusButton from 'components/ui/forms/StatusButton';
import RippleCheckbox from 'components/ui/RippleCheckbox';
import RippleButton from 'components/ui/RippleButton';
import TextInput from 'components/ui/forms/TextInput';

export default {
	name: 'sign-up-page',

	components: {
		'error-message': ErrorMessage,
		'page': Page,
		'ripple-button': RippleButton,
		'ripple-checkbox': RippleCheckbox,
		'status-button': StatusButton,
		'text-input': TextInput
	},

	computed: {
		canSubmit: function () {
			const fieldNames = Object.keys(this.status);

			for (let i = 0, l = fieldNames.length; i < l; i++) {

				if (!this.status[fieldNames[i]].isValid) {
					return false;
				}
			}

			return this.form.accepted_terms;
		},

		disableInput: function () {
			return this.loadingStatus !== LoadingStatus.WAIT;
		}
	},

	data() {
		return {
			form: {
				firstname: '',
				lastname: '',
				organization: '',
				phone_number: '',
				accepted_terms: false
			},

			errors: {
				firstname: null,
				lastname: null,
				organization: null,
				phone_number: null,
				server: null
			},

			status: {
				firstname: {
					isValid: false,
					isEmpty: false
				},
				lastname: {
					isValid: false,
					isEmpty: false
				},
				organization: {
					isValid: false,
					isEmpty: false
				},
				phone_number: {
					isValid: false,
					isEmpty: false
				}
			},

			loadingStatus: LoadingStatus.WAIT,

			timeoutID: null
		};
	},

	createdc() {
		this.$store.commit(Mutations.APP_TITLE, 'Sign Up');
	},

	beforeDestroy() {
		clearTimeout(this.timeoutID);
	},

	methods: {
		processForm() {
			if (this.canSubmit) {

				this.clearErrors();

				this.loadingStatus = LoadingStatus.BUSY;

				Axios.post(Api.POST_REGISTER, this.form)
					.then((response) => {
						this.loadingStatus = LoadingStatus.SUCCESS;
						this.$store.commit(Mutations.SET_USER, response.data);
						this.timeoutID = setTimeout(() => {
							this.$router.push({ path: 'activate' });
						}, 1000);

					}).catch((error) => {
						this.loadingStatus = LoadingStatus.ERROR;
						if (error.response.status === 422) {
							this.parseErrors(error.response.data);
						} else {
							this.errors.server = 'We\'ve hit a snag please try again';
						}
						this.clearLoadingError();

					}).catch((error) => {
						this.loadingStatus = LoadingStatus.ERROR;
						this.errors.server = 'We\'ve hit a snag please try again';
						this.clearLoadingError();
					});
			}
		},

		parseErrors(errors) {
			errors.map((error, index) => {
				if (this.errors.hasOwnProperty(error.field)) {
					this.errors[error.field] = error.message;
				}
			});
		},

		clearErrors() {
			Object.keys(this.errors).forEach((key) => {
				this.errors[key] = null;
			});
		},

		clearLoadingError() {
			clearTimeout(this.timeoutID);
			this.timeoutID = setTimeout(() => {
				this.loadingStatus = 'wait';
			}, 3000 + 625);
		},

		navigate(route) {
			this.$router.push(route);
		}
	}

};
</script>

<style scoped lang="scss">
//
@import '../../styles/global';
//
.signup {
	padding: 32px;
}

.title {
	margin-top: 0;
	font-size: 26px;
	margin-bottom: 16px;
	color: $indigo-400;
}

.description {
	margin-top: 0;
	color: $blue-grey-800;
	font-size: 15px;
	line-height: 1.6;
	margin-bottom: 24px;
}

// .form {}
.form-control {
	margin: 0 auto 24px auto;
}

.footer {
	text-align: center;
}

.has-account {
	font-size: 13px;
	color: $blue-grey-400;
	margin: 0;
}

.login-link {
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	font-weight: 700;
	color: $orange-400;
}

.tandc {
	display: flex;
	align-items: center;
	font-size: 12px;

	&-label {
		margin-left: 8px;
	}
}
</style>
