<template>
	<div class="not-found-404">
		<svg class="graphic" viewBox="0 0 566 498" preserveAspectRatio="xMidYMid meet" v-once >
			<linearGradient id="a" x1="283" x2="283" y1="11" y2="491.002" gradientUnits="userSpaceOnUse">
				<stop offset="0" stop-color="#B2EBF2" />
				<stop offset="1" stop-color="#FFE082" />
			</linearGradient>
			<circle cx="283" cy="249" r="248" fill="url(#a)" />
			<radialGradient id="b" cx="74" cy="-26" r="588.482" gradientUnits="userSpaceOnUse">
				<stop offset=".182" stop-color="#4DD0E1" stop-opacity="0" />
				<stop offset=".243" stop-color="#54D1DD" stop-opacity=".113" />
				<stop offset=".334" stop-color="#69D3D1" stop-opacity=".281" />
				<stop offset=".443" stop-color="#8AD7BE" stop-opacity=".483" />
				<stop offset=".566" stop-color="#B8DDA3" stop-opacity=".712" />
				<stop offset=".7" stop-color="#F2E482" stop-opacity=".961" />
				<stop offset=".721" stop-color="#FCE57C" />
			</radialGradient>
			<circle cx="283" cy="249" r="248" fill="url(#b)" opacity=".83" />
			<radialGradient id="c" cx="29.295" cy="373.121" r="40.818" gradientTransform="matrix(.148 .99 -3.167 .473 1206.787 167.616)"
				gradientUnits="userSpaceOnUse">
				<stop offset="0" stop-color="#F6CD5F" />
				<stop offset=".865" stop-color="#AB6C41" />
				</radialGradient>
				<path fill="url(#c)" d="M70.23 386.76c-24.535-2.1-45.474-4.768-60.736-7.006-7.53-1.104-11.765 8.37-5.93 13.257 5.9 4.94 11.91 9.69 17.998 14.28.65-.4 18.746-11.48 48.668-20.52z"
				/>
				<radialGradient id="d" cx="428.565" cy="326.972" r="181.508" gradientTransform="matrix(-.232 .973 -3.115 -.744 1546.606 153.34)"
					gradientUnits="userSpaceOnUse">
					<stop offset="0" stop-color="#F6CD5F" />
					<stop offset=".835" stop-color="#AB6C41" />
					</radialGradient>
					<path fill="url(#d)" d="M559.414 391.98c-154.762-21.06-234.682-12.377-333.594-4.99 14.26 4.42 28.9 10.27 43.79 17.83 58.5 29.687 132.47 46.256 197.352 55.497 33.51-14.516 65.66-33.325 95.618-56.494 4.66-3.605 2.672-11.05-3.166-11.844z"
					/>
					<linearGradient id="e" x1="364.853" x2="364.853" y1="396" y2="379.791" gradientUnits="userSpaceOnUse">
						<stop offset="0" stop-color="#FFF" stop-opacity="0" />
						<stop offset=".799" stop-color="#401100" />
					</linearGradient>
					<path fill="url(#e)" d="M357.576 391.084s-3.548-2.273 2.695-1.667c0 0 .39-.347.26-.573-.12-.228-.68-.293-.52-.357 0 0-2.61-.78-3.93-1.028-1.32-.25-2.64-.88-2.46-1.11.18-.23-1.05-1.1-1.56-1.27s-.8-.35-.88-.53c-.08-.19-1.8-.69-1.91-.87-.1-.19 1.59 0 1.59 0s1.3.26 1.62.51-.38.14-.01.39.53.09.69.48c.16.39 1.5 1.25 2.47 1.6s3.62 1.01 3.72 1.02c.1.01-2.52-1.62-2.62-1.81-.11-.2-1.68-1.24-2.59-1.53-.91-.29-1.21-.44-1.31-.53s-1.75-.26-1.92-.4 1.55-.29 2.21-.11c.66.18.36.2.73.44s.65.05.94.3c.29.25 2.83 1.69 3.44 1.98s.81.31 1.29.73 1.97 1.38 2.94 1.55c.97.16.77.07 1.34.19.58.12 4.31.07 7.63.69 0 0 .53.02-.54-.5s-1.34-.71-1.96-1.06c-.62-.36-2.89-1.33-3.7-1.51s-2.93-1.34-4.68-1.72-1.91-.43-2.18-.58c-.27-.15-.75-.01-1.68-.33s1.7-.09 1.7-.09 0-.08.85.27c0 0 .25 0 1.49.51s5.75 1.77 6.36 1.87c.61.1.96.44 1.96.87s2.81 1.14 2.81 1.14-.15-.32.21-.35-.65-.68-.62-1.14c.03-.46-3.31-2.43-4.47-2.75-1.16-.33-2.14-.41-2.23-.55-.09-.14 1.57-.26 2.21.01.64.27.59.29.98.46.39.17 1.28.54 1.54.83.26.29 3.93 2.03 4.67 2.3.75.27-.91.36.75 1.26 0 0 2.32 1.49 4.07 2.16 1.75.68 1.91 1.98 1.16 2.04-.74.06-2.49.23-1.83.75.66.52-1.14.58-2.08.42-.94-.16-2.79-.67-3.37-.66-.58.01-3.07-.18-5.22-.69s-4.96-1.38-6.17-1.27c-1.21.12.96 1.53.96 1.53s1.08.63 1.67.73c0 0-.68-.12-.81-.09-.14.04-.73.02-.59.09s.39.08.37.08c-.02 0-.47.09-1.07-.07 0 0-.9-.08-1.32-.2-.42-.12-2.08 0-2.82-.24-.75-.25-.84.02-1.49-.32s-.99-.48-.47-.47c.53.01 1.78.03 1.9-.29.13-.33-.11-.6-.11-.6z"
						opacity=".51" />
					<path fill="#6A3600" d="M341.028 367.113s1.206 5.277 6.182 3.87c0 0 1.105.804 1.458 1.332.352.527-.076.678.226.83 0 0-.98 1.808-1.784 2.386-.804.58-.804 2.04-.15 2.57s1.23 2.54 1.08 2.94c-.15.4-.075.81.227 1.23.302.43-.377 1.59-.1 2.01.275.43 1.582 0 1.582 0s.75-.6.55-1.18-.68-.32-.83-.9c-.15-.57.32-.22-.33-1.13-.66-.9-1.13-2.91-.88-3.72.25-.8 1.51-2.33 1.58-2.36s.85 3.74 1.15 4.2c.3.45.9 2.87.6 3.55s-.31 1.01-.2 1.23c.1.23-1.21.61-1.08.93.12.33 2.16.68 2.44.26.27-.43-.08-.48-.2-1.03s.53-.13.3-.7c-.23-.57-.71-3.92-.71-4.6 0-.67.15-.72-.25-1.7-.41-.98-.93-3.21-.31-3.59s.6-.18.93-.45c.32-.28 4.14-.18 6.18-1.61 0 0 .48-.05.5 1.16.02 1.2.12 1.63.25 2.46.12.83-.13 3.07-.56 3.49-.43.43-.13 3.12-1.08 4-.96.88-1.03.98-.98 1.33.05.35-.73.02-1.01.75s1.89.2 1.89.2.15.18.28-.63c0 0 .25 0 .42-1.18.17-1.18 2.03-4.12 2.44-4.34.4-.23.02-1.03.15-2.01.12-.98.42-2.64.42-2.64s.5.73.93.8c.43.07.78 1.58 1.76 2.64.98 1.05 1.76 5.63 1.28 6.38s-1.28.96-1.08 1.28c.2.33 2.11.61 2.18-.02.07-.62-.03-.67 0-1.08.02-.4.15-1.25-.2-1.93-.36-.68-.33-4.72-.15-5.35.17-.63-1.66-.83-1.89-2.91 0 0-.81-3.47-.46-5.03s-2.24-4.6-3.09-4.73c-.86-.13-2.97-.53-3.4-1.73-.43-1.2-2.36-1.35-2.97-.98-.6.38-1.38 1.56-1.99 1.54-.6-.02-2.69.43-3.77 1.61-1.08 1.18-2.06 3.22-3.52 2.94-1.45-.28-2.23-3.54-2.23-3.54s-.23-1.45.14-1.69c0 0-.41.3-.62.22-.21-.08-.77-.04-.77-.19s.23-.18.21-.18c-.02 0-.67-.23-.94.15 0 0-.74.18-.91.45s-2.09 0-2.32.57c-.24.57-.88-.04-.83.74.05.78.02 1.13.53 1.11.5-.024 1.71-.074 2.51.68.8.758 1.12 1.386 1.12 1.386z"
					/>
					<radialGradient id="f" cx="195.333" cy="330.666" r="156.646" gradientTransform="matrix(-.178 .984 -2.89 -.523 1185.38 311.394)"
						gradientUnits="userSpaceOnUse">
						<stop offset=".486" stop-color="#DAC27D" />
						<stop offset=".593" stop-color="#DABC73" />
						<stop offset=".741" stop-color="#D9AE5E" />
						</radialGradient>
						<path fill="url(#f)" d="M466.99 460.32C410.51 484.8 350.14 497 289.82 497c-94.59 0-189.06-30-268.27-89.71.5-.31 18.63-11.45 48.68-20.53 37.21-11.24 92.7-19.32 155.59.23 14.26 4.42 28.9 10.27 43.79 17.83 58.51 29.69 132.49 46.26 197.38 55.5z"
						/>
						<linearGradient id="g" x1="657.449" x2="657.449" y1="429.415" y2="374.583" gradientUnits="userSpaceOnUse" gradientTransform="matrix(-1 0 0 1 776.44 0)">
							<stop offset="0" stop-color="#FFF" stop-opacity="0" />
							<stop offset=".799" stop-color="#401100" />
						</linearGradient>
						<path fill="url(#g)" d="M99.464 405.952s18.244-3.182 27.818-1.975c0 0 4.715-.52 5.475-.273 0 0 7.972-4.938 10.394-6.31s5.34-2.55 6.17-3.07c.84-.52 9.05-4.416 9.32-4.91.27-.493 2.7-.74 2.92-1.15.23-.412.24-.905 1.95-1.207s5.45-.658 5.67 0c0 0 .36.438-2.05.768s-2.75.22-3.5.576c0 0 1.77-.08 2.63.09.87.17 2.55 0 1.92.3-.63.3-2.12.72-2.95.72 0 0-1.83-.22-3.46.44s-9 4.04-9.37 4.39-.93 1.48-2.71 2.31c-1.78.82-8.21 6.64-10.01 7.68 0 0 3.1.99 2.36 1.65 0 0 14.39-.57 14.41 2.28.02 2.86-3.3 4.45-3.3 4.45s3.09-.41 4.18-1.23c0 0 .88.21-.11.63l1.24-.17s-.81.63-2.91 1.21-.73.69-2.98 1.43-3.01 1.57-.71 1.05c0 0-.94.6.16.69 1.1.08 3.85.69 4.38 1.02s3.29-.36 4.17-.14.87.17-.64.52.7.03-.52.53-2.93.8-3.72.99c-.78.19-2.34.91-3.8.91s-5.11.07-5.94-.08c-.83-.15-2.09.19-3.98.26s-1.83.33-5.12.3c0 0-2 .58-2.81.51-.81-.07 1.07-.6.92-.85-.15-.25 1.71-1.17 1.2-1.29-.5-.12.58-.52.5-1.02-.08-.49 1.11-1.96 2.17-2.45 0 0-1.02.96.31.51 1.33-.45 6.23-4.08-.02-4.08-6.24 0-21.28 4.91-30.14 5.43-8.86.52-14.46 1.92-20.6 3.46-6.14 1.54-10.4 1.14-12.48.31-2.09-.83-.9-4.53-4.1-4.61-3.21-.08-3.48-3.79-2.18-4.77 1.3-.98 4.72-2.71 6.58-3.48 0 0 2.14-1.51 3.92-2.06 1.79-.55 3.37-1.43 2.64-1.84s8.38-3.43 8.38-3.43-4.684 2.06-3.82 1.95c.868-.11 5.98-2.8 7.28-2.96 0 0-2.9 1.27-2.08 1.24s3.81-1.43 3.81-1.43-1.57.91-4.14 1.92.13.31-1.16 1.05c0 0 7.33-2.71 9.51-4.06s4.37-3.12 7.16-3.76c2.78-.63 18.2-5.87 19.54-6.39 1.344-.52 2.893-1.26 4.02-1.34 0 0 .96-.52 2.59-.654s3.82-.272 4.884-.354c1.06-.08 2.83-.14 1.32.494-1.51.63-4.02.52-6.3 1.12-2.28.6-6.51 1.312-15.95 5.1 0 0 10.28-3.458 11.81-3.73s.934-.63 3.073-.74c2.14-.11 2.38.11 3.69 0s2.79-.058.62.49-2.95.17-6.092.91-14.7 4.44-17.84 6.04c-3.13 1.59-7.11 3.4-9.53 4.8 0 0-1.47 2.19-2.71 2.88-1.24.68 2.27.71-1.26 2.52z"
							opacity=".51" />
						<path fill="#A15B2D" d="M141.156 347.555s11.59 7.387 23.688 4.585c0 0 3.63 1.205 4.903.635 0 0-2.356 11.464-2.802 14.647-.446 3.185 0 5.923-.255 7.133s-.19 10.252-.955 11.397c-.764 1.146 1.146 1.72.51 2.675s-1.657 2.102-.574 2.802 4.08 1.52 5.67 0c0 0 1.28-1.02-.44-1.79s-2.29-.51-2.29-1.34c0 0 1.6.19 2.81-.19s2.55 0 2.55-.7-.64-1.66-1.46-1.66c0 0-2.29.51-2.54-1.02s-.57-9.36-.19-10.19c.38-.83 2.17-3.44 2.1-5.35-.06-1.91 5.67-15.41 6.05-17.83 0 0 5.16-2.29 5.8-3.82 0 0 13.19 1.34 19.17-5.29 5.99-6.62 5.99-10.32 5.99-10.32s2.23.95 1.59 2.86c0 0 1.34-.51 1.21-1.47l.89.38s.51-1.47-.38-2.81.7-1.6 0-3.31c-.7-1.72.26-3.63 1.47-2.42 0 0 .32-1.4 1.59-1.6 1.28-.19 5.29-1.59 6.5-2.36 1.21-.77 2.55.83 3.88.32 1.34-.51 1.21-.39.45-1.21-.76-.83.76-.07.57-1.21-.19-1.15-1.27-1.85-1.65-2.3-.38-.45-.44-2.1-1.91-2.1-1.46 0-4.97-.16-6.11.19s-1.69-.45-3.44-.61c-1.75-.16-1.15-.77-4.49-.7 0 0-.8-1.34-1.75-1.18s-.19 1.4-.86 1.97c-.67.57-.73 2.7-1.5 2.99-.77.29-.51 1.21-1.63 2.36-1.11 1.14-2.99 4.55-2.96 5.7 0 0 .99-2.23 1.37-1.18.38 1.05-2.32 9.49-8.56 9.49s-11.01-11.4-18.78-12.61c-7.77-1.21-10.44-4.46-13.37-8.03-2.93-3.57-8.02-2.64-11.84-.72-3.82 1.92-10.38 10.52-13.75 10.71-3.37.19-11.39 8.79-12.16 11.08-.76 2.29-.95 6.3-.7 8.09 0 0-1.02 3.5-.38 4.77.64 1.27.39 3.31-1.21 4.26-1.59.95 1.21 7.96 1.21 7.96s-.38-4.78.26-4.52.13 6.49 1.09 6.88c0 0-.25-2.93.51-2.87.76.06.83 3.31.83 3.31s.32-2.1-.13-4.46.76-.7 1.02-2.42c0 0 1.65 6.31 1.02 9.43s-2.16 7.26-.7 8.72c1.47 1.46 5.92 13.62 6.18 14.83.25 1.21.25 2.93 1.21 3.12 0 0-.13 1.21 1.21 1.53 1.34.31 3.25.63 4.14.82.89.19 2.55.32 2.36-1.14-.19-1.46-2.93-1.21-3.95-2.61s-3.76-3.05-5.283-11.84c0 0 3.056 8.02 4.01 8.66.96.64-.38 1.46 1.53 1.72 1.91.25 2.61-.26 3.69 0s2.676.13 1.66-1.15-2.61-.38-4.2-2.1c-1.59-1.72-5.415-10.32-5.22-14.01s0-7.9.51-11.15c0 0 3.12-5.09 3.31-6.69s3.754-1.65 4.01-5.86z"
						/>
		</svg>
		<h1>We got lost!</h1>
		<p>Turn back intrepid traveller! What you're looking for has been lost to the sands or no longer exists!</p>
	</div>
</template>

<script>
	export default {
		name: 'not-found-404'
	}

</script>

<style scoped lang="scss">
	.not-found-404 {
		padding: 32px;
		text-align: center;
	}
</style>