<template>
	<div class="page">
		<slot></slot>
	</div>
</template>

<script>	
	export default {
		name: 'page'
	}
</script>

<style scoped lang="scss">
	@import '../../../styles/global';

	.page {
		overflow-x: hidden;
		overflow-y: auto;
		user-select: none;
	}
</style>