<template>
	<div class="title-bar">
		<h1 class="title">{{ $store.state.title }}</h1>
	</div>
</template>

<script>
	export default {
		name: 'TitleBar',
		props: ['type' ]
	}

</script>

<style scoped lang="scss">
	//
	@import '../../../styles/global';
	
	//
	.title-bar {
		position: fixed;
		width: 100%;
		background-color: $white;
		// border-bottom: 1px solid $blue-grey-100;
		top: 0;
		background-color: #54ACED;
		background-image: linear-gradient(120deg, #54ACED 10%, #606CB1 90%);
		// background-color: #606CB1;
		user-select: none;
	}

	.title {
		margin: 0;
		padding: 16px;
		font-size: 16px;
		color: $white;
		text-align: center;
		line-height: 1;
		font-weight: 400;
		letter-spacing: 0.2px;
		text-transform: uppercase;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 100%;

	}
</style>