@mixin fade-text-overflow ( $lineHeight: 1.35, $lineCount: 1, $letterWidth:5, $bgColor: white, $fixed:true, $padding: 0 ) {

    $blue: blue($bgColor);
    $green: green($bgColor);
    $red: red($bgColor);

    $character: "\2002";
    $content: $character;

    @for $i from 0 to $letterWidth {
        $content: $content + $character;
    }

    line-height: $lineHeight;
    max-height: ($padding + ($lineHeight * $lineCount))  * 1em;
    overflow: hidden;
    position: relative;

    &:after {
        background-image: linear-gradient(to right, rgba($red, $green, $blue, 0) 0%, rgba($red, $green, $blue, 1) 50%);
        content: $content;
        position: absolute;
        right: 0;

        // if fixed will only fade overflow on last line 
		// else always fadeOverflow
		@if ($fixed) {
            top: ($lineHeight * ($lineCount - 1)) * 1em;
        } @else {
            bottom: 0;
        }
    }
}

@mixin multiline-ellipses ( $lineHeight: 1.35, $lineCount: 1, $bgColor: white, $fixed:true, $padding: 0 ) {

    line-height: $lineHeight;
    max-height: ($padding + ($lineHeight * $lineCount))  * 1em;
    overflow: hidden;
    position: relative;

    &:after {
        background-color: $bgColor;
        // content: &#8230;
        content: "\2026";
        position: absolute;
        right: 0;

        // if fixed will only fade overflow on last line 
		// else always fadeOverflow
		@if ($fixed) {
            top: ($lineHeight * ($lineCount - 1)) * 1em;
        } @else {
            bottom: 0;
        }
    }
}