<template>
	<page class="about" ref="page">

		<header class="header" >
			<img class="bismillah" src="~assets/bismillah.svg" />

			<h2 class="header-title">About</h2>
			<p>Salah Time is a simple community driven initiative, that aims to provide easy access to your local Mosque times.</p>
			
			<h2 class="header-title">How it Works</h2>
			<p>The service is a free to use. Registered members can add and maintain mosque times for multiple local Mosques.</p>

			<div class="header-controls">
				<ripple-button v-if="$store.getters.isAuthorized" type="simple" v-on:click="navigate({ name: 'profile' })">My Profile</ripple-button>

				<div v-else >
					<p class="copy">
						If you would like to assist in maintaining your local Mosque, please <i>Sign Up</i> with the link below.
					</p>
					<ripple-button color="#FFA000" v-on:click="navigate({ name: 'signup' })">Sign up</ripple-button>
					<ripple-button color="#FFA000" v-on:click="test">TEST</ripple-button>
					<p class="has-account">Already have an account?</p>
					<ripple-button type="simple" color="#FFCA28" rippleColor="#FFE082" v-on:click="navigate({ path: 'login' })">Login</ripple-button>
				</div>
			</div>

			<icon-button class="more-button" type="simple" color="#FFFFFF" rippleColor="#FFFFFF" v-on:click="showMore"><icon name="arrow" /></icon-button>
		</header>
		
		<section class="content" ref="content" >
			<h1 class="title" >How to contribute?</h1>

			<h2 class="sub-title">Signup</h2>
			<p>You can contribute by <i>signing up</i> to add your local Mosque, or help by keeping your local Mosque times up to date.</p>

			<h2 class="sub-title">Spread the word</h2>
			<p>Help the community grow by spreading the word.</p>

			<h2 class="sub-title">Feedback</h2>
			<p>Have a comment, suggestion or you found a bug? Kindly share your feedback. Your feedback helps tremendously in improving the app and the overall experience.</p>

			<h2 class="sub-title">I want to do more</h2>
			<p>Do you have Design or Development skills and would like to contibute, please get in touch.</p>
		</section>

		<footer class="footer">
			<img class="codeassembly" src="~assets/codeassembly.svg" />
			ChangeLog, Terms and Conditions
		</footer>

	</page>
</template>

<script>
	import { APP_TITLE } from 'data/MutationTypes';
	import Page from 'components/ui/layout/Page';
	import RippleButton from 'components/ui/RippleButton';
	import IconButton from 'components/ui/IconButton';
	import Icon from 'components/ui/Icon';
	import ToastEvent, { QUEUE_TOAST } from 'events/ToastEvent';
	import SnackBarEvent, { QUEUE_SNACKBAR, SNACKBAR_ACTION } from 'events/SnackBarEvent';
	// import { SnackBar } from 'Buefy';

	export default {

		name: 'about',

		components: {
			'page': Page,
			'ripple-button': RippleButton,
			'icon-button': IconButton,
			'icon': Icon,
			// 'snack-bar': Snackbar,
		},

		computed: {},

		created () {
			this.$store.commit( APP_TITLE, 'About' );
		},

		methods: {
			navigate ( route ) {
				this.$router.push( route );
			},

			showMore () {
				this.$refs.page.$el.scrollTop = this.$refs.content.scrollHeight;
				// window.scrollTo(0, this.$refs.content.scrollTop);
			},

			test () {
				this.$bus.$on(SNACKBAR_ACTION, (event) => {
					console.log(SNACKBAR_ACTION, this.$bus);
					
					console.log(this.$bus.$emit(QUEUE_TOAST, ToastEvent(event.id, 'success') ));
				} );
				
				this.$bus.$emit(QUEUE_SNACKBAR, SnackBarEvent('About-SnackBar-Test', 'Message', 'GOT IT') );
			}
		}
	};
</script>

<style scoped lang="scss">
	@import '../../styles/global';

	.about {}

	.copy {
		text-align: left;
	}

	.header {
		padding: 32px;
		background-color: $indigo-600;
		color: $white;

		&-title {
			color: $white;
		}
	}

	.bismillah {
		margin: 0 auto;
		display: block;
		max-width: 192px;
		margin-bottom: 24px;
	}
	
	.has-account {
		font-size: 13px;
		color: $blue-grey-100;
		margin: 0;
		margin-top: 12px;
	}

	.header-controls {
		text-align: center;
	}

	.more-button {
		text-align: right;
	}

	.content {
		padding: 32px;
	}

	.title {
		margin-top: 0;
		font-size: 26px;
		line-height: 1.2;
		margin-bottom: 16px;
		// color: $blue-grey-100;
	}

	.sub-title {
		margin-top: 0;
		font-size: 16px;
		line-height: 1.2;
		margin-bottom: 16px;
		// color: $blue-grey-100;
	}
	
	.description {
		margin-top: 0;
		color: $blue-grey-200;
		font-size: 15px;
		line-height: 1.6;
		margin-bottom: 24px;
	}

	.footer {
		border-top: 1px solid $blue-grey-400;
		padding: 12px 32px;
	}

	.codeassembly {
		height: 32px;
	}

</style>
