<template>
	<div class="action-bar">
	
		<icon-button v-on:click.stop="toggleBookmark">
			<icon name="bookmark-remove" v-if="isBookmarked" />
			<icon name="bookmark-add" v-else />
		</icon-button>
		<icon-button>
			<icon name="location" />
		</icon-button>
		<icon-button>
			<icon name="whatsapp" />
		</icon-button>
		<icon-button v-on:click="editMosque">
			<icon name="pencil" />
		</icon-button>
		<div class="time-format-toggle" v-on:click="toggleTimeFormat">
			<label class="label">{{ timeFormatLabel }}</label>
			<icon name="clock" class="toggle-icon" />
		</div>
	</div>
</template>

<script>
import IconButton from 'components/ui/IconButton';
import Icon from 'components/ui/Icon';
import ToastEvent, { QUEUE_TOAST } from 'events/ToastEvent';

export default {

	name: 'action-bar',

	props: ['mosque'],

	components: {
		'icon': Icon,
		'icon-button': IconButton
	},

	computed: {
		timeFormat() {
			return this.$store.state.user.settings.timeFormat;
		},

		timeFormatLabel() {
			return this.timeFormat === 24 ? '24h' : 'AM/PM';
		},

		isBookmarked() {
			return this.$store.state.user.bookmarks.findIndex(
				(bookmark) => {
					return bookmark.id === this.mosque.id;
				}
			) !== -1;
		}
	},

	methods: {
		toggleTimeFormat(event) {
			this.$store.dispatch('setTimeFormat', this.timeFormat === 24 ? 12 : 24);
		},

		toggleBookmark(event) {

			let result = null;
			if (this.isBookmarked) {
				result = this.$store.dispatch('removeBookmark', this.mosque.id)
					.then((result) => {
						this.$bus.$emit(QUEUE_TOAST, ToastEvent('Bookmark Removed'));
					}).catch((result) => {
						this.$bus.$emit(QUEUE_TOAST, ToastEvent('Woops!', 'error'));
					});
			} else {
				result = this.$store.dispatch('addBookmark', this.mosque)
					.then((result) => {
						this.$bus.$emit(QUEUE_TOAST, ToastEvent('Bookmark Added', 'success'));
					}).catch((result) => {
						this.$bus.$emit(QUEUE_TOAST, ToastEvent('Woops!', 'error'));
					});

			}
		},

		editMosque(event) {
			this.$router.push({ name: 'mosque-edit', mosque: this.mosque });
		}
	}
}

</script>

<style scoped lang="scss">
@import '../../styles/global';

.action-bar {
	background-color: $white;
	border-bottom: 1px solid $grey-300;
	box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px 0;
	display: flex;
	padding: 9px 8px;
	width: 100%;
}

.time-format-toggle {
	align-items: center;
	background-color: $indigo-400;
	border-radius: 18px;
	display: inline-flex;
	margin-left: auto;
	padding-left: 14px;
}

.label {
	font-size: 13px;
	font-weight: 400;
	color: $amber-400;
}

.toggle-icon {
	fill: $white;
	width: 38px;
	padding: 8px;
}
</style>