<template>
	<article class="mosque-card" >
		<div class="content" ref="content" v-on:click="onClick" >
			<h1 class="name">{{ mosque.name }}</h1>
			<p class="address">
				<icon name="location" class="icon" />
				{{ mosque.address }}
			</p>
			<ripple-effect trigger="content" v-bind:opacity="0.5" color="#7986CB" />
		</div>
		<div class="actions">
			<slot></slot>
		</div>
	</article>
</template>

<script>
	import Icon from 'components/ui/Icon';
	import RippleEffect from 'components/ui/RippleEffect';

	export default {
		name: 'MosqueCard',

		components: {
			'icon': Icon,
			'ripple-effect': RippleEffect
		},

		props: [ 'mosque', 'action' ],

		computed: {
			link: function () {
				return {
					name: 'mosque',
					params: {
						mosqueID: this.mosque.id
					}
				};
			}
		},

		methods: {
			onClick () {
				if ( this.action ) {
					this.action( this.mosque );
				}
			}
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.mosque-card {
		background-color: $white;
		border-bottom: 1px solid $grey-200;
		display: flex;
		overflow: hidden;
	}

	.content {
		padding: 18px 24px;
		outline: 0;
		cursor: pointer;
		min-width: 0;
		position: relative;

	}

	// .link {
	// 	padding: 18px 24px;
	// 	display: block;
	// 	text-decoration: none;
	// }

	.actions {
		padding: 18px 24px 18px 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.name, .address {
		// white-space: nowrap;
		// overflow: hidden;
		// text-overflow: ellipsis;
		width: 100%;
	}

	.name,
	.address {
		display: block;
		display: -webkit-box;
		 -webkit-line-clamp: 2;
  		-webkit-box-orient: vertical;
		overflow: hidden;
		line-height: 1.4;
		margin: 0;
		letter-spacing: 0.2px;
		max-height:  1.4 * 2em;

		$lineHeight: 1.4;
		$lineCount: 2;
		$letterWidth: 5;
		$bgColor: $white;

		// @include fade-text-overflow ( $lineHeight, $lineCount, $letterWidth, $bgColor );
		// @include multiline-ellipses ( $lineHeight, $lineCount, $bgColor );
	}
	
	.name {
		color: $indigo-400;
		font-size: 16px;
		font-weight: 400;
		margin-bottom: 10px;
		// border-bottom: 1.4px solid $grey-400;
		// border-image: linear-gradient(left, rgba(250, 250, 250, 0) 0, rgba(250, 250, 250, 0.3) 15%, rgba(250, 250, 250, 0.05) 100%) 1;
		// border-image: linear-gradient(left, rgba(250, 250, 250, 0.3) 15%, rgba(250, 250, 250, 0.1) 100%) 1;
		// border-image: linear-gradient(left, rgba(#54ACED, 0.4) 15%, rgba(#606CB1, 0.4) 100%) 1;
		// linear-gradient(120deg, #54ACED 10%, #606CB1 90%);
	}

	.address {
		font-size: 12px;
		color: $blue-grey-200;
		font-weight: 300;
		vertical-align: middle;
	}

	.icon {
		height: 12px;
		padding-right: 4px;
	}
</style>