<template>
	<page class="mosque-times">

		<section>
			<form class="form" v-on:submit.prevent="processForm">

				<div class="schedule">
					<div v-for="(salah, index) in form.prayers" v-bind:key="salah.name" class="prayer" >
						<h1 class="prayer-name">{{ salah.name }}</h1>
						<div class="prayer-times">
							<time-picker class="time-picker" v-model="salah.adhan" v-bind:salah-name="salah.name" time-type="Adhan" />
							<time-picker class="time-picker" v-model="salah.salah" v-bind:salah-name="salah.name" time-type="Salah" />
						</div>
					</div>
				</div>

				<error-message v-bind:error="errors.server" />

				<status-button class="form-control" label="Set Times" v-bind:state="loadingStatus" v-bind:disabled="!canSubmit" />

			</form>
		</section>

		
	</page>
</template>

<script>
	import { APP_TITLE } from 'data/MutationTypes';
	import * as LoadingStatus from 'data/LoadingStatus';
	import ErrorMessage from 'components/ui/forms/ErrorMessage';
	import StatusButton from 'components/ui/forms/StatusButton';
	import TextInput from 'components/ui/forms/TextInput';
	import Page from 'components/ui/layout/Page';
	import TimePicker from 'components/ui/forms/TimePicker';

	export default {
		name: 'mosque-times',

		components: {
			'page': Page,
			'text-input': TextInput,
			'status-button': StatusButton,
			'error-message': ErrorMessage,
			'time-picker': TimePicker
		},

		props: [ 'mosqueID' ],

		computed: {

			canSubmit: function () {
				const fieldNames = Object.keys( this.status );

				for ( let i = 0, l = fieldNames.length; i < l; i++ ) {

					if ( !this.status[ fieldNames[i] ].isValid ) {
						return false;
					}
				}

				return true;
			},

			disableInput: function () {
				return this.loadingStatus !== LoadingStatus.WAIT;
			}
		},

		data () {
			return {

				// mosqueID: null,

				form: {
					prayers: [
						{
							name: 'Fajr',
							jamaat: true,
							adhan: '05:10',
							salah: '05:30'
						},
						{
							name: 'Dhuhr',
							jamaat: true,
							adhan: '12:30',
							salah: '12:45'
						},
						{
							name: 'Jumuah',
							jamaat: true,
							adhan: '12:30',
							salah: '13:00'
						},
						{
							name: 'Asr',
							jamaat: true,
							adhan: '16:45',
							salah: '17:00'
						},
						{
							name: 'Maghrib',
							jamaat: true,
							adhan: '18:55',
							salah: '19:00'
						},
						{
							name: 'Isha',
							jamaat: true,
							adhan: '19:45',
							salah: '20:00'
						}
					]
				},

				errors: {
					name: null,
					lastname: null,
					organization: null,
					phone_number: null,
					server: null
				},

				status: {
					name: {
						isValid: false,
						isEmpty: false
					},
					lastname: {
						isValid: false,
						isEmpty: false
					},
					organization: {
						isValid: false,
						isEmpty: false
					},
					phone_number: {
						isValid: false,
						isEmpty: false
					}
				},

				loadingStatus: LoadingStatus.WAIT,

				timeoutID: null
			};
		},

		created () {
			const title = ( this.$route.name === 'mosque-create' ) ? 'Add New Mosque' : 'Edit Mosque';
			this.$store.commit( APP_TITLE, title );

			if  ( this.mosque === null ) {

			}
		},

		beforeDestroy () {
			clearTimeout( this.timeoutID );
		},

		methods: {

			parseMosqueData ( mosque ) {

				this.mosqueID.id = mosque.id;

				this.form.name = mosque.name;

				this.form.address = mosque.address;
				this.form.province = mosque.province;

				this.form.longitude = mosque.longitude;
				this.form.latitude = mosque.latitude;
				this.form.place_id = mosque.place_id;
			},

			processForm () {
				if ( this.canSubmit ) {

					this.clearErrors();

					this.loadingStatus = LoadingStatus.BUSY;

					this.$store.dispatch('create', this.form)
						.then((response) => {
							this.loadingStatus = LoadingStatus.SUCCESS;

							this.timeoutID = setTimeout(() => {
								this.$router.push({ path: 'activate' });
							}, 1000);

						}).catch((error) => {
							this.loadingStatus = LoadingStatus.ERROR;

							if (error.response.status === 422) {
								this.parseErrors(error.response.data);
							} else {
								this.errors.server = 'We\'ve hit a snag please try again';
							}

							this.clearLoadingError();

						} ).catch( ( error ) => {
							this.loadingStatus = LoadingStatus.ERROR;

							this.errors.server = 'We\'ve hit a snag please try again';

							this.clearLoadingError();
						});
				}
			},

			parseErrors ( errors ) {
				errors.map( ( error, index ) => {
					if ( this.errors.hasOwnProperty( error.field ) ) {
						this.errors[ error.field ] = error.message;
					}
				});
			},

			clearErrors () {
				Object.keys( this.errors ).forEach(( key ) => {
					this.errors[key] = null;
				});
			},

			clearLoadingError () {
				clearTimeout( this.timeoutID );
				this.timeoutID = setTimeout( () => {
					this.loadingStatus = 'wait';
				}, 3000 + 625 );
			}
		}

	}

</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	//
	.mosque-times {
		padding: 32px;
	}
	
	.title {
		margin-top: 0;
		font-size: 26px;
		margin-bottom: 16px;
		color: $indigo-400;
	}
	
	.description {
		margin-top: 0;
		color: $blue-grey-800;
		font-size: 15px;
		line-height: 1.6;
		margin-bottom: 24px;
	}
	
	.form {}
	
	.form-control {
		margin: 0 auto 24px auto;
	}
	
	.footer {
		text-align: center;
	}
	
	.login-link {
		font-size: 16px;
		text-decoration: none;
		margin: 0;
		font-weight: 700;
		color: $orange-400;
	}

	.schedule {
	}

	.prayer {
		padding-bottom: 18px;
		// border-bottom: 1px solid $indigo-100;
		// &:last-of-type {
		// 	border: 0;
		// 	padding: 0;
		// }
	}

	.prayer-name {
		margin: 0;
		font-size: 16px;
		color: $indigo-300;
	}

	.prayer-times {
		display: flex;
	}

	.time-picker {
		width: 50%;
	}

</style>