<template>
	<article class="mosque" ref="mosque" v-on:scroll="onScroll">
		<mosque-header class="header"
		               ref="header"
		               v-bind:mosque="mosque.name"
		               v-bind:salah="activeSalah"
		               v-bind:date="date"
		               v-bind:format="timeFormat" />
	
		<div class="sliding-frame" ref="slidingFrame" v-bind:class="{'sticky' : isSticky}">
			<action-bar class="action-bar" v-bind:mosque="mosque" />
	
			<section class="schedule">
				<salah v-for="(salah, key) in mosque.times"
				       class="salah"
				       v-bind:key="key"
				       v-bind:title="salah.id"
				       v-bind:salah="salah"
				       v-bind:format="timeFormat"
				       v-if="showSalah(key)">
					<timeline slot="timeline"
					          v-bind:state="timeLine[key].state"
					          v-bind:showTrack="key !== 'isha'" />
				</salah>
			</section>
		</div>
	
	</article>
</template>

<script>

import { APP_TITLE } from 'data/MutationTypes';
import * as TimeLineState from 'data/TimeLineState';
import ActionBar from 'components/mosque/ActionBar';
import Moment from 'moment';
import MosqueHeader from 'components/mosque/MosqueHeader';
import Salah from 'components/salah/Salah';
import TimeLine from 'components/salah/TimeLine';

export default {

	name: 'mosque-page',

	components: {
		'salah': Salah,
		'timeline': TimeLine,
		'mosque-header': MosqueHeader,
		'action-bar': ActionBar
	},

	props: ['mosqueID'],

	data() {
		return {
			intervalID: null,

			date: Moment(),

			activeSalah: null,

			tomorrowIsJumuah: false,

			isSticky: false,

			mosque: {
				id: 1,
				name: 'Eldoraigne Musallah',
				longitude: -25.8490637,
				latitude: 28.1415175,
				address: '1252 Willem Botha street Eldoraigne',
				province: 'Gauteng',
				times: {
					fajr: {
						id: 'Fajr',
						jamaat: true,
						adhan: '05:10',
						salah: '05:30'
					},
					dhuhr: {
						id: 'Dhuhr',
						jamaat: true,
						adhan: '12:30',
						salah: '12:45'
					},
					jumuah: {
						id: 'Jumuah',
						jamaat: true,
						adhan: '12:30',
						salah: '13:00'
					},
					asr: {
						id: 'Asr',
						jamaat: true,
						adhan: '16:45',
						salah: '17:00'
					},
					magrib: {
						id: 'Magrib',
						jamaat: true,
						adhan: '18:55',
						salah: '19:00'
					},
					isha: {
						id: 'Isha',
						jamaat: true,
						adhan: '19:45',
						salah: '20:00'
					}
				}
			}
		}
	},

	computed: {
		todayIsJumuah () {
			return this.date.day() === 5;
		},

		timeFormat () {
			return this.$store.state.user.settings.timeFormat;
		},

		timeLine () {

			const prayerKeys = Object.keys( this.mosque.times );
			const totalPrayers = prayerKeys.length;

			const prayers = {};

			for ( let i = 0; i < totalPrayers; i++ ) {

				const key = prayerKeys[i];

				prayers[key] = {
					state: this.computeSalahState( i, key, this.mosque.times[key] )
				};
			}

			return prayers;
		}
	},

	created () {
		this.activeSalah = this.computeActiveSalah();
		this.$store.commit( APP_TITLE, 'Salah Time' );
	},

	mounted () {
		// update date once a minute
		this.intervalID = setInterval( this.tick, 60 * 1000 );
		this.mosque.id = this.mosqueID
	},

	beforeDestroy () {
		clearInterval( this.intervalID );
	},

	methods: {
		tick () {
			this.date = Moment();

			if ( this.activeSalah ) {
				// time has passed
				if ( this.date.isAfter( this.activeSalah.complete ) ) {
					this.activeSalah = this.computeActiveSalah( this.activeSalah.index );
				}
			}
		},

		getScrollY: function () {
			return window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
		},

		onScroll ( event ) {
			// console.log(this.$refs.mosque.scrollTop)
			this.isSticky = this.$refs.mosque.scrollTop > 221;
		},

		showSalah ( key ) {

			if ( key === 'jumuah' ) {
				return this.todayIsJumuah || this.tomorrowIsJumuah;
			}

			if ( key === 'dhuhr' ) {
				return !this.todayIsJumuah && !this.tomorrowIsJumuah;
			}

			return true;
		},

		computeSalahState ( index, key, salah ) {

			if ( !salah.jamaat ) {
				return TimeLineState.DISABLED;
			}

			if ( this.activeSalah === null ) {
				return null;
			}

			if ( key === this.activeSalah.key ) {
				return TimeLineState.IN_PROGRESS;
			} else if ( index < this.activeSalah.index ) {
				return TimeLineState.PAST;
			}

			return null;
		},

		computeLastSalahTime () {

			if ( !this.mosque ) {
				return null;
			}

			const prayerKeys = Object.keys( this.mosque.times ).reverse();
			const totalPrayers = prayerKeys.length;

			for ( let i = 0; i < totalPrayers; i++ ) {

				const key = prayerKeys[i];

				if (this.todayIsJumuah && key === 'dhuhr') {
					continue;
				} else if ( key === 'jumuah' ) {
					continue;
				}

				const salah = this.mosque.times[key];

				if ( salah.jamaat ) {
					const hours = salah.salah.replace( /:\d{2}$/, '' );
					const minutes = salah.salah.replace( /^\d{2}:/, '' );
					return Moment().hour( hours ).minutes( minutes ).add(10, 'minutes');
				}
			}

			return null;
		},

		computeActiveSalah ( startIndex = 0 ) {

			if ( this.mosque === null ) {
				return null;
			}

			const midnight = this.date.clone().hour( 23 ).minute( 59 ).second( 59 );

			const prayerKeys = Object.keys( this.mosque.times );
			const totalPrayers = prayerKeys.length;

			const lastSalahTime = this.computeLastSalahTime();

			// no prayers
			if ( !lastSalahTime ) {
				return null;
			}

			// check if isbetween last prayer and midnight then add a day
			const offset = ( this.date.isBetween( lastSalahTime, midnight ) ) ? 24 : 0;
			this.tomorrowIsJumuah = ( this.date.day() === 4 && offset === 24 );

			let startAt = startIndex;

			if ( startIndex < 0 || startIndex >= totalPrayers ) {
				startAt = 0;
			}

			for ( let i = startAt; i < totalPrayers; i++ ) {

				const key = prayerKeys[i];

				if ( this.todayIsJumuah || this.tomorrowIsJumuah ) {
					if ( key === 'dhuhr' ) {
						continue;
					}
				} else if ( key === 'jumuah' ) {
					continue;
				}

				const prayer = this.mosque.times[key];

				if ( prayer.jamaat ) {

					let hours = parseInt( prayer.salah.replace( /:\d{2}$/, '' ) );
					let minutes = prayer.salah.replace( /^\d{2}:/, '' );

					const salahTime = Moment().hour( hours + offset ).minutes( minutes );
					const complete = salahTime.clone().add( 10, 'minutes' );

					// if ( adhanTime.diff( time ) >= 0 || time.isBetween( adhanTime, complete ) ) {
					if ( this.date.isBefore( complete ) ) {

						hours = parseInt( prayer.adhan.replace( /:\d{2}$/, '' ) );
						minutes = prayer.adhan.replace( /^\d{2}:/, '' );

						return {
							key: key,
							index: i,
							adhan: Moment().hour( hours + offset ).minutes( minutes ),
							salah: salahTime,
							complete: complete,
							src: prayer
						};
					}
				}
			}
		}
	}
}

</script>

<style scoped lang="scss">
//
@import '../../styles/global';

//
.mosque {
	overflow: hidden;
	overflow-y: auto;
}

.mosque-name {
	font-size: 18px;
	font-weight: 300;
}

.header {
	padding: 24px;
	z-index: 1;
	position: fixed;
}

.sliding-frame {
	position: relative;
	z-index: 2;
	margin-top: 221px;
}

.action-bar {
	position: absolute;
	top: 0;
	z-index: 2;
}

.sticky {
	.action-bar {
		position: fixed;
		top: 48px;
	}
}

.schedule {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	// 100vh - tilebar (44)  - menubar (46)
	min-height: calc(100vh - 90px);
	padding-top: 24px + 57px;
	padding-bottom: 24px;
	background-color: $white;
}

.salah {
	flex: 1 0 auto;
	&:last-of-type {
		padding-bottom: 0;
	}
}
</style>