<template>
  <div class="mosque-listing">
  </div>
</template>

<script>
export default {
  name: 'MosqueListings',

  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.mosque-listing {

}
</style>
