<template>
	<article class="mosque" ref="mosque" v-on:scroll="onScroll">
		<mosque-header class="header"
		               ref="header"
		               v-bind:mosque="mosque.name"
		               v-bind:salah="activePrayer"
		               v-bind:date="date"
		               v-bind:format="timeFormat" />
	
		<div class="sliding-frame" ref="slidingFrame" v-bind:class="{'sticky' : isSticky}">
			<action-bar class="action-bar" v-bind:mosque="mosque" />
	
			<section class="schedule">
				<salah v-for="(salah, index) in mosque.prayers"
				       class="salah"
				       v-bind:key="salah.name"
				       v-bind:salah="salah"
				       v-bind:format="timeFormat"
				       v-if="showSalah( salah.name )"
					   >
					<timeline slot="timeline" v-bind:state="timeLine[index]" v-bind:showTrack="salah.name !== 'Isha'" />
				</salah>
			</section>
		</div>
	
	</article>
</template>

<script>
	import { APP_TITLE } from 'data/MutationTypes';
	import * as WeekDays from 'data/WeekDays';
	import * as SalahNames from 'data/SalahNames';
	import * as TimeLineState from 'data/TimeLineState';
	import ActionBar from 'components/mosque/ActionBar';
	import Moment from 'moment';
	import MosqueHeader from 'components/mosque/MosqueHeader';
	import Salah from 'components/salah/Salah';
	import TimeLine from 'components/salah/TimeLine';

	export default {

		name: 'Mosque',

		components: {
			'salah': Salah,
			'timeline': TimeLine,
			'mosque-header': MosqueHeader,
			'action-bar': ActionBar
		},

		props: [ 'mosqueID' ],

		data () {
			return {
				isSticky: false,

				intervalID: null,
				date: Moment(),

				activePrayer: null,
				lastPrayerTime: null, 
				prayersComplete: false, 

				mosque: {
					id: 1,
					name: 'Eldoraigne Musallah',
					longitude: -25.8490637,
					latitude: 28.1415175,
					address: '1252 Willem Botha street Eldoraigne',
					province: 'Gauteng',

					times_updated_at: '',
					times_updated_by: '',

					prayers: [
						{
							name: 'Fajr',
							jamaat: true,
							adhan: '05:10',
							salah: '05:30'
						},
						{
							name: 'Dhuhr',
							jamaat: true,
							adhan: '12:30',
							salah: '12:45'
						},
						{
							name: 'Jumuah',
							jamaat: true,
							adhan: '12:30',
							salah: '13:00'
						},
						{
							name: 'Asr',
							jamaat: true,
							adhan: '16:45',
							salah: '17:00'
						},
						{
							name: 'Maghrib',
							jamaat: true,
							adhan: '18:55',
							salah: '19:00'
						},
						{
							name: 'Isha',
							jamaat: true,
							adhan: '19:45',
							salah: '20:00'
						}
					]
				}
			};
		},

		computed: {

			isJumuah () {
				return ( this.today === WeekDays.THURSDAY && this.prayersComplete ) || ( this.today === WeekDays.FRIDAY && !this.prayersComplete );
			},

			today () {
				return this.date.day();
			},

			timeFormat () {
				return this.$store.state.user.settings.timeFormat;
			},

			timeLine () {

				const prayers = [];

				for ( let i = 0, l = this.mosque.prayers.length; i < l; i++ ) {
					let prayer = this.mosque.prayers[i];
					prayers.push( this.computePrayerState( i, prayer ) );
				}

				return prayers;
			}
		},

		created () {
			this.$store.commit( APP_TITLE, 'Salah Time' );
			this.lastPrayerTime = this.computeLastPrayerTime();
			this.prayersComplete = this.computePrayersComplete( this.lastPrayerTime );
			this.activePrayer = this.computeActivePrayer();
		},

		mounted () {
			// update date once a minute
			this.intervalID = setInterval( this.tick, 60 * 1000 );
			this.mosque.id = this.mosqueID;
		},

		beforeDestroy () {
			clearInterval( this.intervalID );
		},

		methods: {
			tick () {
				this.date = Moment();

				if ( this.activePrayer ) {
					// Paryer is complete or new day has started
					if ( this.date.isAfter( this.activePrayer.complete ) || this.date.day() !== this.lastPrayerTime.day() ) {
						this.lastPrayerTime = this.computeLastPrayerTime();
						this.prayersComplete = this.computePrayersComplete( this.lastPrayerTime );
						this.activePrayer = this.computeActivePrayer( this.activePrayer.index );
					}
				}
			},

			getScrollY: function () {
				return window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0;
			},

			onScroll ( event ) {
				// console.log(this.$refs.mosque.scrollTop)
				this.isSticky = this.$refs.mosque.scrollTop > 221;
			},

			showSalah ( name ) {

				if ( name === SalahNames.JUMUAH ) {
					return this.isJumuah;
				}

				if ( name === SalahNames.DHUHR ) {
					return !this.isJumuah;
				}

				return true;
			},

			computePrayerState ( index, salah ) {

				if ( !salah.jamaat ) {
					return TimeLineState.DISABLED;
				}

				if ( this.activePrayer === null ) {
					return null;
				}

				if ( salah.name === this.activePrayer.name ) {
					return TimeLineState.IN_PROGRESS;
				} else if ( index < this.activePrayer.index ) {
					return TimeLineState.PAST;
				}

				return null;
			},

			computePrayersComplete ( lastPrayerTime = null ) {
				// no prayers
				if ( !lastPrayerTime ) {
					return false;
				}

				const midnight = this.date.clone().hour( 23 ).minute( 59 ).second( 59 );

				return this.date.isBetween( lastPrayerTime, midnight );
			},

			computeLastPrayerTime () {

				if ( !this.mosque ) {
					return null;
				}

				const isFriday = this.today === WeekDays.FRIDAY;

				for ( let i = this.mosque.prayers.length; --i > 0; ) {

					const prayer = this.mosque.prayers[i];

					// Skip non relevant 
					if ( prayer.name === SalahNames.DHUHR && isFriday ) {
						continue;
					} else if ( prayer.name === SalahNames.JUMUAH && !isFriday ) {
						continue;
					}

					if ( prayer.jamaat ) {
						const time = prayer.salah.match( /^([0-9]{2}):([0-9]{2})$/ );
						return Moment().hour( time[1] ).minutes( time[2] ).add( 10, 'minutes' );
					}
				}

				return null;
			},

			computeActivePrayer ( startIndex = 0 ) {

				if ( this.mosque === null ) {
					return null;
				}

				const totalPrayers = this.mosque.prayers.length;
				const offset = this.prayersComplete ? 24 : 0;

				let startAt = startIndex;

				if ( startIndex < 0 || startIndex >= totalPrayers ) {
					startAt = 0;
				}

				for ( let i = startAt; i < totalPrayers; i++ ) {

					const prayer = this.mosque.prayers[i];

					if ( prayer.name === SalahNames.DHUHR && this.isJumuah ) {
						continue;
					} else if ( prayer.name === SalahNames.JUMUAH && !this.isJumuah ) {
						continue;
					}

					if ( prayer.jamaat ) {

						let time = prayer.salah.match( /^([0-9]{2}):([0-9]{2})$/ );

						const salahTime = Moment().hour( parseInt( time[1] ) + offset ).minutes( time[2] );
						const complete = salahTime.clone().add( 10, 'minutes' );

						if ( this.date.isBefore( complete ) ) {

							time = prayer.adhan.match( /^([0-9]{2}):([0-9]{2})$/ );
							const adhanTime = Moment().hour( parseInt( time[1] ) + offset ).minutes( time[2] );

							return {
								index: i,
								name: prayer.name,
								adhan: adhanTime,
								salah: salahTime,
								complete: complete,
								src: prayer
							};
						}
					}
				}
			}

		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.mosque {
		overflow: hidden;
		overflow-y: auto;
		backface-visibility: hidden;
	}

	.mosque-name {
		font-size: 18px;
		font-weight: 300;
	}

	.header {
		padding: 24px;
		z-index: 1;
		position: fixed;
	}

	.sliding-frame {
		position: relative;
		z-index: 2;
		margin-top: 221px;
	}

	.action-bar {
		position: absolute;
		top: 0;
		z-index: 2;
	}

	.sticky {
		.action-bar {
			position: fixed;
			top: 48px;
		}
	}

	.schedule {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		// 100vh - tilebar (48)  - menubar (47)
		min-height: calc(100vh - #{ 48px + 47px } );
		padding-top: 24px + 57px;
		padding-bottom: 24px;
		background-color: $white;
		pointer-events: none;
	}

	.salah {
		flex: 1 0 auto;
		&:last-of-type {
			padding-bottom: 0;
		}
	}
</style>