<template>
	<header class="mosque-header">
		<h1 class="mosque-name">{{ mosque }}</h1>
		<h1 class="salah-title">{{ salah.name }}</h1>
		<div class="times">
			<salah-time class="salah-time" title="Adhan" v-bind:time="salah.src.adhan" v-bind:format="format" v-bind:light="true" />
			<salah-time class="salah-time" title="Jamaat" v-bind:time="salah.src.salah" v-bind:format="format" v-bind:light="true" />
		</div>
		<time class="human-time" v-bind:dateTime="dateTime">{{ humanTime }}</time>
	</header>
</template>

<script>

	import SalahTime from 'components/salah/SalahTime';

	export default {

		name: 'MosqueHeader',

		props: [ 'mosque', 'salah', 'date', 'format' ],

		components: {
			'salah-time': SalahTime
		},

		data () {
			return {
				dateTime: null
			};
		},

		computed: {

			humanTime: function () {
				if ( this.salah !== null ) {
					if ( this.salah.adhan.diff( this.date ) > 0 ) {
						this.dateTime = this.salah.adhan.toString();
						return this.date.to( this.salah.adhan );
					}

					if ( this.date.isBetween( this.salah.adhan, this.salah.complete ) ) {
						this.dateTime = this.salah.salah.toString();
						return 'Now';
					}
				}

				return null;
			}
		}
	};

</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.mosque-header {
		padding: 24px;
		background-color: #54ACED;
		background-image: linear-gradient(85deg, #54ACED 10%, #606CB1 90%);
		color: $white;
		text-shadow: rgba(95, 110, 178, 0.18) 4px 3px 0px;
		width: 100%;
		pointer-events: none;
		backface-visibility: hidden;
	}

	.mosque-name {
		font-size: 16px;
		font-weight: 300;
		margin: 0 0 8px 0;
		color: $white;
	}

	.salah-title {
		font-size: 52px;
		font-weight: 400;
		line-height: 1;
		margin: 0;
		color: $white;
	}

	.times {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 16px 0;
	}
	
	.salah-time {
		flex: none;
		margin-right: 28px;
		
		&:last-of-type {
			margin: 0;
		}
	}
	
	.human-time {
		background-color: $white;
		border-radius: 16px;
		color: $indigo-600;
		font-size: 16px;
		font-style: italic;
		font-weight: 400;
		line-height: 1;
		padding: 4px 16px;
		text-shadow: none;
	}
</style>