<template>
	<page class="index">
		
		<header class="header">
			<div class="map" >
				<gmap-map ref="map" v-bind:center="$store.getters.userPosition" v-bind:zoom="mapZoom" map-type-id="roadmap" style="width: 100%; height: 100%" v-bind:options="mapOptions()" >
					<gmap-circle v-bind:center="$store.getters.userPosition" v-bind:radius="$store.state.user.location.accuracy" ref="accuracyOverlay" v-bind:options="{ strokeWeight:0,fillColor: '#2196F3', fillOpacity: 0.15 }"/>
					<gmap-marker v-bind:position="$store.getters.userPosition" v-bind:icon="mosqueMarker()"></gmap-marker>
					<gmap-marker v-for="mosque in searchResults" v-bind:key="mosque.id" v-bind:position="mosque.location" v-bind:icon="mosqueMarker()" ></gmap-marker>
				</gmap-map>
			</div>
			<transition name="fade">
				<spinner class="map-spinner" v-show="!mapLoaded" />
			</transition>
		</header>
		
		<section class="results">
				<div class="notice" v-if="$store.state.user.settings.showGeoNotice">
					<p class="notice-copy">
						Use the search bar above to find Mosques by <b>Name</b> or <b>Location</b>.
						<span class="notice-copy" v-if="canUseDeviceGeo">
							Or use your location to see Mosques nearby.
						</span>
					</p>
					<ripple-button v-if="canUseDeviceGeo" v-on:click="getLocation" ><icon name="location" slot="icon"/>MOSQUES NEARBY</ripple-button>
					<ripple-button type="simple" v-on:click="hideNotification" >Hide this message</ripple-button>
				</div>
		</section>

		<search-box class="search" v-model="search" v-bind:status="searchStatus" placeholder="Search Mosques…" ><icon-button v-if="canUseDeviceGeo" v-on:click="getLocation" color="#F27258"><icon name="location" /></icon-button> </search-box>

	</page>
</template>

<script>
	import { APP_TITLE } from 'data/MutationTypes';

	import Icon from 'components/ui/Icon';
	import IconButton from 'components/ui/IconButton';
	import Page from 'components/ui/layout/Page';
	import RippleButton from 'components/ui/RippleButton';
	import SearchBox from 'components/ui/SearchBox';
	import Spinner from 'components/ui/Spinner';
	// import MosquePin from 'assets/MosquePin.svg';
	import MosquePin from 'assets/mosque-pin.png';

	export default {

		name: 'index-page',

		components: {
			'icon-button': IconButton,
			'icon': Icon,
			'page': Page,
			'ripple-button': RippleButton,
			'search-box': SearchBox,
			'spinner': Spinner
		},

		data () {
			return {
				mapLoaded: false,

				search: null,

				searchResults: [],

				searchStatus: {
					isEmpty: true,
					isValid: false
				}
			};
		},

		computed: {
			mapCenter () {
				return {
					lat: this.$store.state.user.location.latitude,
					lng: this.$store.state.user.location.longitude
				};
			},

			mapZoom () {
				return 12;
				// this.$store.state.user.location.accuracy
			},

			canUseDeviceGeo () {
				return Boolean( navigator.geolocation );
			}
		},

		created () {
			this.$store.commit( APP_TITLE, 'Salah Time' );
		},

		mounted () {

			this.$refs.map.$mapCreated.then( ( ) => {

				this.mapLoaded = true;

				if ( this.$store.getters.canUseDeviceLocation && this.$store.state.user.settings.hasAllowedGeoLocation ) {
					this.$store.dispatch( 'getGeoLocation' ).then( this.onLocation );
				} else {
					this.$store.dispatch( 'getGeoIp' ).then( this.onLocation );
				}

				this.$refs.map.resizePreserveCenter();

				// console.info(MosquePin)

				// console.log(this.$refs.accuracyOverlay.$circleObject)

			} ).catch( ( error ) => {
				console.error( error );
			} );

			// console.log(this.$refs.map.$mapObject );
		},

		methods: {
			getLocation () {
				this.$store.dispatch( 'getGeoLocation' ).then( this.onLocation );
			},

			hideNotification () {
				// this.$store.dispatch( 'getGeoLocation' ).then( this.onLocation );
			},

			onLocation ( position ) {
				this.$refs.map.resizePreserveCenter();
			},

			mapOptions () {
				return {
					fullscreenControl: false,
					mapTypeControl: false,
					streetViewControl: false,
					clickableIcons: true,
					tilt: 0
				};
			},

			mosqueMarker () {
				if ( !this.mapLoaded ) {
					return null;
				}

				return {
					url: MosquePin,
					anchor: new google.maps.Point ( 21, 42 ),
					size: new google.maps.Size( 128, 128 ),
					scaledSize: new google.maps.Size( 42, 42 ),
					styles: {
						default: null,
						hide: [
							{
								featureType: 'poi.place_of_worship',
								stylers: [ { visibility: 'off' } ]
							}
						]
					}
				};
			}
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../styles/global';
	//
	.index {
		background-color: $grey-50;
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;
	}

	.header, .results {
		overflow: hidden;
		position: relative;
	}

	.header {
		height: 50%;
		background-image: linear-gradient(85deg, #54ACED 10%, #606CB1 90%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1 0 auto;
	}

	.results {
		border-top: 1px solid $indigo-400;
		flex: 0 1 auto;
		overflow-y: auto;
		max-height: 60%;
	}

	.mosque-list {
		padding-top: 20px;
	}

	.action-bar {
	}

	.search {
		position: fixed;
		flex: none;
		top: 48px;
		z-index: 10;
	}

	.map {
		width: 100%;
		height: 100%;
	}

	.map-spinner {
		position: absolute;
	}

	.notice {
		text-align: center;
		padding: 24px;

		&-icon {
			height: 40px;
		}

		&-copy {
			// margin: 8px 0;
		}
	}

	.fade {
		&-enter, &-leave-to {
			opacity: 0 ;
		}

		&-enter-active, &-leave-active {
			transition: opacity 300ms $ease-in-out-quad;
		}

		&-leave, &-enter-to {
			opacity: 1;
		}
	}

</style>