<template>
	<transition appear name="snackbar" v-bind::duration="400" v-on:after-leave="afterLeave">
		<div class="snackbar" v-bind:class="{'force':forceInteraction}" v-show="visible">
			<div class="panel">
				<span class="message">{{ message }}</span>
				<ripple-button type="simple" v-bind:color="colour" v-on:click="onClick">{{ action }}</ripple-button>
			</div>
		</div>
	</transition>
</template>

<script>

import RippleButton from 'components/ui/RippleButton';
import { SnackBarActionEvent, QUEUE_SNACKBAR, SNACKBAR_ACTION } from 'events/SnackBarEvent';

export default {

	name: 'snackbar',

	data() {
		return {
			visible: false,

			id: '',
			message: '',
			action: 'OK',
			type: '',
			duration: 3500,
			forceInteraction: false,

			timeoutID: null,
			queue: []
		}
	},

	components: {
		'ripple-button': RippleButton
	},

	computed: {
		colour() {
			switch (this.type) {
				case 'success':
					return '#7CB342';
				case 'error':
					return '#c62828';
			}
			// blue
			return '#039BE5';
		}
	},

	created() {
		this.$bus.$on(QUEUE_SNACKBAR, this.enqueue);
	},

	methods: {

		enqueue(snackbar) {

			if (snackbar.next) {
				this.queue.unshift(snackbar);
			} else {
				this.queue.push(snackbar);
			}

			this.next();

		},

		close() {
			clearTimeout(this.timeoutID);
			this.visible = false;
			this.timeoutID = null;
		},

		next() {
			if (!this.visible) {
				const snackbar = this.queue.shift();

				if (snackbar) {
					this.id = snackbar.id;

					this.message = snackbar.message;
					this.type = snackbar.type;
					this.action = snackbar.action;
					this.forceInteraction = snackbar.forceInteraction;

					this.timeoutID = snackbar.forceInteraction ? null : setTimeout(this.close, snackbar.duration);
					this.visible = true;
				}
			}

		},

		afterLeave() {
			this.next();
		},

		onClick() {
			this.$bus.$emit(SNACKBAR_ACTION, SnackBarActionEvent(this.id, this.action));
			this.close();
		}
	}
};
</script>

<style scoped lang="scss">
@import '../../styles/global';

.snackbar {
	position: absolute;
	bottom: 0;
	width: 100%;
	pointer-events: auto;

	&.force {
		height: 100%;
		background: rgba( $grey-900, 0.3);
	}

	&-enter,
	&-leave-to {

		.panel {
			transform: translateY(100%);
		}
	}

	&-enter-to,
	&-leave {
		.panel {
			transform: translateY(0);
		}
	}

	&-enter-active {
		&,
		.panel {
			transition: transform 350ms $ease-in-out-expo;
		}
	}

	&-leave-active {
		&,
		.panel {
			transition: transform 400ms $ease-in-expo;
		}
	}
}

.panel {
	position: absolute;
	bottom: 0;
	width: 100%;

	padding: 14px 4px 14px 20px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	background: $grey-900;

	pointer-events: auto;
}

.message {
	color: $white;
	font-size: 14px;
	line-height: 1.4; //px;
	padding-right: 4px;
}
</style>
