<template>
	<transition appear name="toast" v-bind::duration="400" v-on:after-leave="afterLeave">
		<div class="toast" v-bind:class="type" v-show="visible">
			<span class="message">{{ message }}</span>
		</div>
	</transition>
</template>

<script>

import { QUEUE_TOAST } from 'events/ToastEvent';

export default {
	name: 'toast',

	data() {

		return {
			visible: false,

			message: '',
			type: '',
			duration: 3500,

			timeoutID: null,
			queue: []
		};
	},

	created() {
		this.$bus.$on(QUEUE_TOAST, this.enqueue);
	},

	methods: {

		enqueue(toast) {

			if (toast.next) {
				this.queue.unshift(toast);
			} else {
				this.queue.push(toast);
			}

			this.next();

		},

		close() {
			clearTimeout(this.timeoutID);
			this.visible = false;
			this.timeoutID = null;
		},

		next() {
			if (!this.visible) {
				const toast = this.queue.shift();

				if (toast) {
					this.message = toast.message;
					this.type = toast.type;
					this.timeoutID = setTimeout(this.close, toast.duration);
					this.visible = true;
				}
			}

		},

		afterLeave() {
			this.next();
		}
	}
}
</script>

<style scoped lang="scss">
@import '../../styles/global';

.toast {

	align-self: center;
	position: absolute;
	top: 64px;

	display: inline-flex;

	max-width: calc(100% - 32px);
	padding: 12px 24px;

	pointer-events: auto;

	text-align: center;

	border-radius: 24px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	background: rgba($grey-900, 0.95);


	&.success {
		// background: rgba($light-green-800, 0.9);
		background: $light-green-700;
	}

	&.error {
		// background: rgba($red-700, 0.9);
		background: $red-700;
	}

	&-enter,
	&-leave-to {
		transform: translateY(-100%);
	}

	&-enter-to,
	&-leave {
		transform: translateY(0);
	}

	&-enter-active {
		transition: transform 350ms $ease-out-back;
	}

	&-leave-active {
		transition: transform 400ms $ease-in-expo;
	}
}

.message {
	color: $white;
	line-height: 16px;
	font-size: 14px;
	min-width: 0;
	flex: 1;
	overflow: hidden;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
</style>
