<template>
	<page class="intro">
		<mt-swipe :show-indicators="true"  :auto="0">
			<mt-swipe-item><div class="slide slide-0">Welcome to Salah Time</div></mt-swipe-item>
			<mt-swipe-item ><div class="slide slide-1">2</div></mt-swipe-item>
			<mt-swipe-item ><div class="slide slide-2"><ripple-button >Lets go</ripple-button></div></mt-swipe-item>
		</mt-swipe>
	</page>
</template>

<script>
	import { APP_TITLE } from 'data/MutationTypes';
	import RippleButton from 'components/ui/RippleButton';
	import Page from 'components/ui/layout/Page';

	import { Swipe, SwipeItem } from 'mint-ui';

	export default {

		name: 'index-page',

		components: {
			'mt-swipe': Swipe,
			'mt-swipe-item': SwipeItem,
			'ripple-button': RippleButton,
			'page': Page
		},

		created () {
			this.$store.commit( APP_TITLE, 'Salah Time' );
		},

		methods: {
			onCLick () {
				this.$store.disptch( 'introVisibility', false );
			}
		}
	};
</script>

<style scoped lang="scss">

	@import '../../styles/global';

	.intro {
		width: 100vw;	
		height: 100vh;	
		z-index: 2000;
		position: relative;
	}

	.slide {
		padding: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $white;
		width: 100%;
		height: 100%;
		
		&-0 {
			background-color: $light-blue-700;
		}
		
		&-1 {
			background-color: $blue-600;
		}

		&-2 {
			background-color: $indigo-500;
		}
	}
</style>