<template>
	<page class="mosque-form">

		<search-box class="search-box" v-model="search" placeholder="Search the map…" v-bind:search-results="searchResults" />

		<header class="header">
			<gmap-map class="map" ref="map" v-bind:center="mapCenter"  map-type-id="roadmap" v-bind:options="mapOptions()" v-on:dblclick="placeMarker" />
			
			<img class="center-marker" name="mosque-pin" src="~assets/mosque-pin.png" />

			<p class="map-instruction"><i>Drag</i> the map to finetune the marker location.<br/>Then <i>Tap</i> the get address button to continue.</p>

			<transition name="fade">
				<div class="map-spinner" v-if="!mapLoaded" >
					<spinner />
				</div>
			</transition>
		</header>

		<section>

			<transition name="fade">
				<ripple-button class="get-address-button" v-on:click="getPinInfo" v-show="mapLoaded" ><icon name="mosque-pin" slot="icon" />Get Address</ripple-button>
			</transition>

			<form class="form" v-on:submit.prevent="processForm">

				<text-input class="form-control" label="Mosque Name *" v-bind:status="status.name" name="name" v-model="form.name" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.name" />

				<text-input class="form-control" label="Building / Floor/ Complex" v-bind:status="status.name" name="name" v-model="form.building" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.name" />

				<text-input class="form-control" label="Street" v-bind:status="status.name" name="name" v-model="form.street" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.name" />

				<text-input class="form-control" label="Locality" v-bind:status="status.name" name="name" v-model="form.sublocality" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.name" />
				
				<text-input class="form-control" label="City" v-bind:status="status.name" name="name" v-model="form.locality" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.name" />

				<text-input class="form-control" label="Postal Code" v-bind:status="status.name" name="name" v-model="form.postal_code" v-bind:required="true" v-bind:pattern="/^([\S].{0,255})$/" v-bind:max-length="255" v-bind:disabled="disableInput" v-bind:error="errors.name" />
				
				<error-message v-bind:error="errors.server" />

				<status-button class="form-control" label="Add Mosque" v-bind:state="loadingStatus" v-bind:disabled="!canSubmit" />

			</form>
		</section>

	</page>
</template>

<script>
	import { APP_TITLE } from 'data/MutationTypes';
	import * as LoadingStatus from 'data/LoadingStatus';
	import ErrorMessage from 'components/ui/forms/ErrorMessage';
	import StatusButton from 'components/ui/forms/StatusButton';
	import RippleButton from 'components/ui/RippleButton';
	import TextInput from 'components/ui/forms/TextInput';
	import Icon from 'components/ui/Icon';
	import Page from 'components/ui/layout/Page';
	import Spinner from 'components/ui/Spinner';
	import SearchBox from 'components/ui/SearchBox';
	import MosquePin from 'assets/mosque-pin.png';
	import { debounce } from 'lodash';

	let Geocoder = null;
	let AutoCompleteService = null;
	let PlacesService = null;

	export default {
		name: 'MosqueForm',

		components: {
			'page': Page,
			'ripple-button': RippleButton,
			'text-input': TextInput,
			'icon': Icon,
			'status-button': StatusButton,
			'error-message': ErrorMessage,
			'spinner': Spinner,
			'search-box': SearchBox
		},

		props: [ 'mosque' ],

		data () {
			return {

				markerCoords: {
					lat: this.$store.state.user.location.latitude,
					lng: this.$store.state.user.location.longitude
				},

				mapCenter: {
					lat: this.$store.state.user.location.latitude,
					lng: this.$store.state.user.location.longitude
				},

				mapLoaded: false,

				// markerPlaced: false,

				search: null,

				searchResults: [],

				mosqueID: null,

				form: {
					name: '',

					building: '',
					street_number: '',
					street: '',
					sublocality: '',
					locality: '',
					postal_code: '',
					province: '',
					country: '',

					longitude: '',
					latitude: '',
					place_id: ''
				},

				errors: {
					name: null,

					longitude: '',
					latitude: '',

					building: '',
					street_number: '',
					street: '',
					sublocality: '',
					locality: '',
					postal_code: '',
					province: '',
					country: ''
				},

				status: {
					name: {
						isValid: false,
						isEmpty: false
					},
					building: {
						isValid: false,
						isEmpty: false
					},
					street_number: {
						isValid: false,
						isEmpty: false
					},
					street: {
						isValid: false,
						isEmpty: false
					},
					sublocality: {
						isValid: false,
						isEmpty: false
					},
					locality: {
						isValid: false,
						isEmpty: false
					},
					postal_code: {
						isValid: false,
						isEmpty: false
					}
				},

				loadingStatus: LoadingStatus.WAIT,

				timeoutID: null
			};
		},

		computed: {

			canSubmit () {
				const fieldNames = Object.keys( this.status );

				for ( let i = 0, l = fieldNames.length; i < l; i++ ) {

					if ( !this.status[ fieldNames[i] ].isValid ) {
						return false;
					}
				}

				return true;
			},

			disableInput () {
				return this.loadingStatus !== LoadingStatus.WAIT;
			},

			searchEmpty () {
				return (!( this.search ) || RegExp( /^\s*$/ ).test( this.search ));
			}
		},
		created () {
			const title = ( this.$route.name === 'mosque-create' ) ? 'Add New Mosque' : 'Edit Mosque';
			this.$store.commit( APP_TITLE, title );

			if  ( this.mosque === null ) {

			}
		},

		mounted () {

			this.$refs.map.$mapCreated.then( () => {

				this.mapLoaded = true;

				Geocoder = new google.maps.Geocoder();
				AutoCompleteService = new google.maps.places.AutocompleteService();
				// PlacesService = new google.maps.places.PlacesService( this.$refs.map.$mapObject );

				this.zoomToCountry();
				this.$refs.map.resizePreserveCenter();

			} ).catch( ( error ) => {
				console.error( error );
			} );
		},

		beforeDestroy () {
			clearTimeout( this.timeoutID );
		},

		watch: {
			search () {
				if ( !this.searchEmpty && this.search.length > 2 ) {
					this.getPlacePredictions();
				}
			}
		},

		methods: {

			parseMosqueData ( mosque ) {

				this.mosqueID.id = mosque.id;

				this.form.name = mosque.name;

				this.form.address = mosque.address;
				this.form.province = mosque.province;

				this.form.longitude = mosque.longitude;
				this.form.latitude = mosque.latitude;
				this.form.place_id = mosque.place_id;
			},

			processForm () {

				if ( this.canSubmit ) {

					this.clearErrors();

					this.loadingStatus = LoadingStatus.BUSY;

					this.$store.dispatch( 'create', this.form )
						.then( ( response ) => {
							this.loadingStatus = LoadingStatus.SUCCESS;

							this.timeoutID = setTimeout( () => {
								this.$router.push( { path: 'activate' } );
							}, 1000 );

						}).catch( ( error ) => {
							this.loadingStatus = LoadingStatus.ERROR;

							if ( error.response.status === 422 ) {
								this.parseErrors( error.response.data );
							} else {
								this.errors.server = 'We\'ve hit a snag please try again';
							}

							this.clearLoadingError();

						} ).catch( ( error ) => {
							this.loadingStatus = LoadingStatus.ERROR;

							this.errors.server = 'We\'ve hit a snag please try again';

							this.clearLoadingError();
						});
				}
			},

			parseErrors ( errors ) {
				errors.map( ( error, index ) => {
					if ( this.errors.hasOwnProperty( error.field ) ) {
						this.errors[ error.field ] = error.message;
					}
				});
			},

			clearErrors () {
				Object.keys( this.errors ).forEach(( key ) => {
					this.errors[key] = null;
				});
			},

			clearLoadingError () {
				clearTimeout( this.timeoutID );
				this.timeoutID = setTimeout( () => {
					this.loadingStatus = 'wait';
				}, 3000 + 625 );
			},

			// markerMoved ( event ) {
			// 	console.log( event.latLng.lat(), event.latLng.lng() );
			// },

			mapOptions () {
				return {
					clickableIcons: false,
					// disableDoubleClickZoom: true,
					fullscreenControl: false,
					mapTypeControl: false,
					minZoom: 4,
					streetViewControl: false,
					tilt: 0
				};
			},

			mosqueMarker () {
				if ( !this.mapLoaded ) {
					return null;
				}

				return {
					url: MosquePin,
					anchor: new google.maps.Point ( 16, 32 ),
					size: new google.maps.Size( 32, 32 ),
					scaledSize: new google.maps.Size( 32, 32 )
				};
			},

			placeMarker ( event ) {
				this.$refs.map.panTo( { lat:event.latLng.lat(), lng:event.latLng.lng() } );
			},

			getPinInfo ( event ) {
				let geocoderRequest = { location: this.$refs.map.$mapObject.getCenter(), newForwardGeocoder: true };
				Geocoder.geocode( geocoderRequest, this.onGeocoderResponse );
			},

			onGeocoderResponse ( geocoderResults, geocoderStatus ) {

				if ( geocoderStatus === google.maps.GeocoderStatus.OK ) {

					const gecoderResult = geocoderResults[0];
					const addresses = gecoderResult.address_components;

					const addressComponents = {};

					addresses.forEach( ( address ) => {
						address.types.forEach( ( addressType ) => {
							addressComponents[addressType] = address.long_name;
						} );
					} );

					const streetNumber = addressComponents.street_number;

					this.form.street = ( streetNumber ? streetNumber + ' ' : '' ) + addressComponents.route;
					this.form.sublocality = addressComponents.sublocality;
					this.form.locality = addressComponents.locality;
					this.form.postal_code = addressComponents.postal_code;
					this.form.province = addressComponents.province;
					this.form.country = addressComponents.country;

					this.form.latitude = gecoderResult.geometry.location.lat();
					this.form.longitude = gecoderResult.geometry.location.lng();
					this.form.place_id = gecoderResult.place_id;

					this.mapCenter.lat = gecoderResult.geometry.location.lat(); 
					this.mapCenter.lng = gecoderResult.geometry.location.lng();

					// google.maps.event.addListenerOnce( this.$refs.map.$mapObject, 'bounds_changed', this.onBoundsChanged.bind( this, gecoderResult.geometry.viewport ) );
					// this.$refs.map.fitBounds( gecoderResult.geometry.viewport );

				} else {
					console.error( geocoderStatus );
				}
			},

			zoomToCountry () {
				let geocoderRequest = { newForwardGeocoder: true, componentRestrictions: { country: 'ZA' } };
				Geocoder.geocode( geocoderRequest, this.onZoomToCountry );
			},

			onZoomToCountry ( geocoderResult, geocoderStatus ) {

				if ( geocoderStatus === google.maps.GeocoderStatus.OK ) {
					const country = geocoderResult[0];

					this.mapCenter.lat = country.geometry.location.lat();
					this.mapCenter.lng = country.geometry.location.lng();

					// this.$refs.map.resize();
					google.maps.event.addListenerOnce( this.$refs.map.$mapObject, 'bounds_changed', this.onBoundsChanged.bind( this, country.geometry.viewport ) );
					this.$refs.map.fitBounds( country.geometry.viewport );

				} else {
					console.error( geocoderStatus );
				}
			},

			getPlacePredictions: debounce( function () {
				const autocompletionRequest = {
					componentRestrictions: { country: 'ZA' },
					input: this.search
				};

				AutoCompleteService.getPlacePredictions( autocompletionRequest, this.onAutoCompleteResponse );

			}, 330 ),

			onAutoCompleteResponse (autocompletePrediction, placesServiceStatus ) {
				console.log('autocompletePrediction')
				console.log(autocompletePrediction)
				console.log('placesServiceStatus')
				console.log(AutoCompleteService)

				if (placesServiceStatus === google.maps.places.PlacesServiceStatus.OK ) {
					this.searchResults = autocompletePrediction;
				} else if (placesServiceStatus === google.maps.places.PlacesServiceStatus.ZERO_RESULTS ) {

				} else {
					console.error( placesServiceStatus );
				}
			},

			onBoundsChanged ( bounds, event ) {

				const map = this.$refs.map.$mapObject;

				// the span of the map set by Google fitBounds (always larger by what we ask)
				const currentSpan = map.getBounds().toSpan();
				// the span of what we asked for
				const askedSpan = bounds.toSpan();
				// the % of increase on the latitude
				const latRatio = ( currentSpan.lat() / askedSpan.lat() ) - 1;
				// the % of increase on the longitude
				const lngRatio = ( currentSpan.lng() / askedSpan.lng() ) - 1;

				// if the % of increase is too big (> to a threshold) we zoom in
				if ( Math.min( latRatio, lngRatio ) > 0.46 ) {
					// 0.46 is the threshold value for zoming in. It has been established empirically by trying different values.
					map.setZoom( map.getZoom() + 1 );
				}
			}
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	//
	.mosque-form {
		position: relative;
		padding-top: 56px;
	}

	.search-box {
		position: relative;
		top: 0;
		z-index: 10;
		position: absolute;
		overflow: visible;
	}
	
	.form {
		padding: 32px;
	}
	
	.form-control {
		margin: 0 auto 24px auto;
	}
	
	.footer {
		text-align: center;
	}
	
	.has-account {
		font-size: 14px;
		color: $blue-grey-400;
		margin: 0;
	}
	
	.login-link {
		font-size: 16px;
		text-decoration: none;
		margin: 0;
		font-weight: 700;
		color: $orange-400;
	}

	.header {
		min-height: 100vw;
		overflow: hidden;
		position: relative;
	}

	.map {
		width: 100vw;
		height: 100vw;
	}

	.center-marker {
		width: 42px;
		height: 42px;
		top: 50vw;
		left: 50vw;
		transform: translate( -50%, -100%);
		position: absolute;
		pointer-events: none;
	}

	.get-address-button {
		margin: 0 auto;
		display: block;
	}

	.map-instruction {
		text-align: center;
		padding: 12px;
		font-size: 12px;
	}

	.map-spinner {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background: $light-blue-300;
	}

	.fade {
		&-enter, &-leave-to {
			opacity: 0 ;
		}

		&-enter-active, &-leave-active {
			transition: opacity 400ms $ease-in-out-quad;
		}

		&-leave, &-enter-to {
			opacity: 1;
		}
	}

</style>