<template>
	<main id="app" class="app">
		<title-bar class="title-bar">Salah Time</title-bar>
		<div class="container" v-if="ready" >
			<transition v-bind:duration="350" v-on:after-enter="afterEnter" v-on:before-leave="beforeLeave" mode="out-in">
				<router-view></router-view>
			</transition>
		</div>
		<page-transition class="page-transition" v-bind:visible="$store.state.showLoader" />
		<menu-bar class="menu-bar" />
		<div class="notices" >
			<snackbar />
			<toast />
		</div>

	</main>
</template>

<script>
	import PageTransition from 'components/ui/PageTransition';
	import MenuBar from 'components/ui/nav/MenuBar';
	import TitleBar from 'components/ui/layout/TitleBar';
	import Intro from 'components/intro/Intro';
	import Toast from 'components/notifications/Toast';
	import Snackbar from 'components/notifications/Snackbar';

	import { LOADER_VISIBILITY } from 'data/MutationTypes';

	export default {
		name: 'app',

		components: {
			'page-transition': PageTransition,
			'menu-bar': MenuBar,
			'title-bar': TitleBar,
			'intro': Intro,
			'toast': Toast,
			'snackbar': Snackbar,
		},

		data () {
			return {
				ready: false
			};
		},

		created () {
			this.$store.dispatch( 'fetchUser' )
			.then( () => {
				this.ready = true;
			} ).catch( () => {
				this.ready = true;
			} );
		},

		methods: {
			afterEnter: function ( el ) {
				this.$store.commit( LOADER_VISIBILITY, false );
			},

			beforeLeave: function ( el ) {
				this.$store.commit( LOADER_VISIBILITY, true );
			}
		}
	};
</script>

<style lang="scss">
	@import 'styles/global';
	//
	html {
		box-sizing: border-box;
		font-size: 100%;
	}
	
	html,
	body {
		height: 100%;
	}
	
	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		font-family: 'Montserrat', Arial, sans-serif;
		// font-family: 'Montserrat', serif;
		font-weight: 300;
		letter-spacing: 0.3px;
		color: $blue-grey-800;
		font-size: 14px;
		line-height: 1.5;
	}
	
	*,
	*:before,
	*:after {
		box-sizing: inherit;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibilit;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	h1 {
		margin-top: 0;
    	font-size: 26px;
    	margin-bottom: 16px;
    	color: $indigo-400;
	}

	h2 {
		margin-top: 0;
    	font-size: 20px;
    	margin-bottom: 16px;
    	color: $indigo-600;
	}

	p {
		margin-top: 0;
		margin-bottom: 1em;
	}

</style>

<style scoped lang="scss">
	.app {
		overflow: hidden;
	}
	
	.title-bar {
		z-index: 2;
	}
	
	.container {
		height: 100vh;
		overflow: hidden;
		padding-bottom: 47px;
		padding-top: 46px;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
	}

	.page-transition {
		z-index: 3;
	}
	
	.menu-bar {
		z-index: 4;
	}

	.notices {
		height: 100vh;
		left: 0;
		pointer-events: none;
		position: fixed;
		display: flex;
		justify-content: center;
		top: 0;
		width: 100vw;
		z-index: 5;
	}
</style>