<template>
	<button class="icon-button" v-on:click="onClick" ref="button" v-bind:disabled="disabled" >
		<div class="icon">
			<slot></slot>
		</div>
		<ripple-effect trigger="button" v-if="!disabled" v-bind:opacity="0.7" v-bind:color="color" />
	</button>
</template>

<script>
	import RippleEffect from 'components/ui/RippleEffect';

	export default {
		name: 'IconButton',

		components: {
			'ripple-effect': RippleEffect
		},

		props: {
			color: {
				ttpe: String,
				default: '#FFB300'
			},
			disabled: {
				ttpe: Boolean,
				default: false
			}
		},

		methods: {
			onClick ( event ) {
				this.$emit( 'click', event );
			}
		}
	};
</script>

<style scoped lang="scss">
	@import '../../styles/global';
	//
	.icon-button {
		background: transparent;
		border-radius: 50%;
		border: 0;
		color: inherit;
		font: inherit;
		height: 38px;
		margin: 0;
		outline: 0;
		padding: 8px;
		position: relative;
		user-select: none;
		width: 38px;
		cursor: pointer;

		&:focus {
			outline: 0;
		}

		&::-moz-focus-inner {
			padding: 0;
			border: 0;
		}
	}

</style>