<template>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" >

	<g  v-if="name.startsWith('bookmark-')">
		<path fill="#FFDB6F" d="M106.924 32.877v88.993c0 2.63-2.975 4.16-5.115 2.63l-34.12-24.37c-2.25-1.606-5.27-1.606-7.52 0L26.05 124.5c-2.14 1.53-5.11 0-5.11-2.63V32.877h85.98z"/><path fill="#F27258" d="M106.924 6.803v26.074H20.946V6.803c0-1.784 1.444-3.232 3.232-3.232h79.513c1.79 0 3.24 1.45 3.24 3.24z"/><path fill="#201F2E" d="M103.756 0H24.244C20.68 0 17.78 2.9 17.78 6.465V121.53c0 2.434 1.343 4.636 3.506 5.75.938.48 1.952.72 2.962.72 1.32 0 2.633-.408 3.753-1.21l34.13-24.37c1.124-.803 2.634-.803 3.757 0L100 126.79c1.98 1.415 4.552 1.603 6.716.49 2.162-1.114 3.506-3.316 3.506-5.75V6.466c0-3.565-2.9-6.465-6.463-6.465zm0 121.53l-34.12-24.37c-1.685-1.205-3.66-1.807-5.636-1.807s-3.95.602-5.636 1.806l-34.12 24.37V35.77h70.518c1.783 0 3.23-1.448 3.23-3.232 0-1.787-1.447-3.232-3.23-3.232H24.244V6.466h79.512V121.53z"/><path fill="#201F2E" d="M64 20.795c1.608 0 2.91-1.307 2.91-2.913 0-1.603-1.302-2.905-2.91-2.905-1.606 0-2.908 1.303-2.908 2.905 0 1.606 1.302 2.913 2.908 2.913zm-15.017 0c1.606 0 2.91-1.307 2.91-2.913 0-1.603-1.304-2.905-2.91-2.905s-2.91 1.303-2.91 2.905c0 1.606 1.304 2.913 2.91 2.913zm30.035 0c1.605 0 2.908-1.307 2.908-2.913 0-1.603-1.303-2.905-2.908-2.905-1.607 0-2.91 1.303-2.91 2.905 0 1.606 1.302 2.913 2.91 2.913z"/>

		<g  v-if="name === 'bookmark-star'">
			<path fill="#F27258" d="M79.96 62.72l-8.046 7.843 1.897 11.073-9.94-5.23-9.94 5.23 1.9-11.073-8.04-7.842 11.11-1.61 4.97-10.08 4.97 10.08"/><path fill="#201F2E" d="M80.443 59.5l-9.605-1.395-4.295-8.704c-.49-.99-1.502-1.62-2.61-1.62-1.105 0-2.117.63-2.607 1.62l-4.296 8.71-9.604 1.4c-1.096.16-2.007.93-2.35 1.98-.34 1.06-.056 2.21.737 2.99l6.95 6.774-1.64 9.566c-.19 1.09.26 2.19 1.156 2.842.5.37 1.1.558 1.71.558.46 0 .92-.11 1.35-.332l8.59-4.516 8.59 4.52c.98.515 2.17.43 3.06-.223.89-.65 1.34-1.756 1.15-2.848l-1.64-9.57 6.95-6.77c.79-.773 1.08-1.93.733-2.98-.34-1.055-1.25-1.823-2.347-1.98zM69.95 68.14c-.687.668-1 1.63-.837 2.574l.902 5.264-4.727-2.484c-.424-.223-.89-.334-1.355-.334-.464 0-.93.11-1.353.334l-4.728 2.484.902-5.264c.162-.943-.15-1.906-.836-2.574l-3.825-3.73 5.285-.767c.947-.138 1.767-.733 2.19-1.592l2.363-4.78 2.37 4.79c.43.86 1.24 1.46 2.19 1.59l5.29.77-3.82 3.73z"/>
		</g>
		<g  v-else-if="name === 'bookmark-add'">
			<circle cx="104.194" cy="63.999" r="20.704" fill="#31CCC9"/><path fill="#201F2E" d="M104.193 87.806c-13.125 0-23.805-10.68-23.805-23.807 0-13.13 10.68-23.81 23.805-23.81C117.32 40.19 128 50.87 128 64c0 13.126-10.68 23.806-23.807 23.806zm0-41.41c-9.707 0-17.604 7.896-17.604 17.603s7.89 17.6 17.6 17.6S121.8 73.702 121.8 64s-7.898-17.605-17.605-17.605z"/><path fill="#201F2E" d="M113.193 60.9h-5.898V55c0-1.712-1.39-3.1-3.102-3.1-1.71 0-3.1 1.388-3.1 3.1v5.9h-5.898c-1.713 0-3.1 1.388-3.1 3.1 0 1.71 1.387 3.1 3.1 3.1h5.898v5.898c0 1.712 1.39 3.1 3.1 3.1 1.713 0 3.102-1.388 3.102-3.1V67.1h5.898c1.71 0 3.1-1.39 3.1-3.1 0-1.712-1.39-3.1-3.1-3.1z"/>
		</g>
		<g v-else-if="name === 'bookmark-remove'">
			<circle cx="104.194" cy="63.999" r="20.704" fill="#F27258"/><path fill="#201F2E" d="M104.193 87.806c-13.125 0-23.805-10.68-23.805-23.807 0-13.13 10.68-23.81 23.805-23.81C117.32 40.19 128 50.87 128 64c0 13.126-10.68 23.806-23.807 23.806zm0-41.41c-9.707 0-17.604 7.896-17.604 17.603s7.89 17.6 17.6 17.6S121.8 73.702 121.8 64s-7.898-17.605-17.605-17.605z"/><path fill="#201F2E" d="M113.193 60.9H95.195c-1.713 0-3.1 1.388-3.1 3.1 0 1.71 1.387 3.1 3.1 3.1h17.998c1.71 0 3.1-1.39 3.1-3.1 0-1.712-1.39-3.1-3.1-3.1z"/>
		</g>
	</g>

	<g  v-else-if="name==='clock'">
		<path fill="#F27258" d="M109.742 27.98c8.164 10.35 12.48 22.808 12.48 36.02 0 32.103-26.12 58.22-58.222 58.22-32.103 0-58.22-26.117-58.22-58.22S31.897 5.78 64 5.78c13.206 0 25.655 4.31 36.004 12.463 1.098.864 2.624.81 3.65-.06l6.148 6.145c-.868 1.03-.923 2.556-.06 3.65zM114.95 64c0-28.095-22.855-50.95-50.95-50.95S13.05 35.905 13.05 64 35.905 114.95 64 114.95 114.95 92.094 114.95 64z"/><path fill="#FFDB6F" d="M64 18.83c24.907 0 45.17 20.263 45.17 45.17S88.907 109.17 64 109.17 18.83 88.907 18.83 64 39.093 18.83 64 18.83z"/><g fill="#201F2E"><path d="M114.28 24.4c-.99-1.253-2.808-1.467-4.058-.48-.156.126-.3.26-.42.41-.87 1.028-.924 2.553-.06 3.648 8.164 10.352 12.48 22.81 12.48 36.022 0 32.103-26.12 58.22-58.222 58.22-32.103 0-58.22-26.117-58.22-58.22S31.897 5.78 64 5.78c13.206 0 25.655 4.31 36.004 12.463 1.098.864 2.624.81 3.65-.06.146-.123.282-.264.406-.42.988-1.254.775-3.072-.48-4.058C92.205 4.74 78.517 0 64 0 46.904 0 30.834 6.658 18.746 18.746S0 46.904 0 64c0 17.096 6.658 33.166 18.746 45.254S46.904 128 64 128c17.096 0 33.166-6.658 45.254-18.746S128 81.096 128 64c0-14.524-4.745-28.22-13.72-39.6z"/><path d="M64 13.05c-28.095 0-50.95 22.855-50.95 50.95S35.905 114.95 64 114.95 114.95 92.094 114.95 64 92.094 13.05 64 13.05zm0 96.12c-24.907 0-45.17-20.263-45.17-45.17S39.093 18.83 64 18.83 109.17 39.093 109.17 64 88.907 109.17 64 109.17z"/></g><path fill="#201F2E" d="M86.036 82.464L67.232 63.66V29.876c0-1.785-1.447-3.232-3.232-3.232s-3.232 1.447-3.232 3.232V65l.002.023c0 .204.02.408.062.61.02.095.055.184.082.276.032.107.058.22.1.324.045.105.105.2.158.3.047.085.085.175.14.258.108.16.23.307.364.444.014.016.024.033.04.048l19.75 19.75c.63.63 1.458.946 2.285.946s1.656-.314 2.288-.945c1.26-1.262 1.26-3.308 0-4.57z"/>
	</g>

	<g  v-else-if="name === 'pencil'">
		<path fill="#31CCC9" d="M120.455 12.926c4.21 4.214 4.21 11.043 0 15.253l-8.9 8.9-20.58-20.58 8.902-8.9c4.21-4.21 11.04-4.21 15.254 0l5.33 5.32z"/><path fill="#201F2E" d="M111.554 41.475c-1.124 0-2.25-.428-3.107-1.286l-20.58-20.58c-1.716-1.72-1.716-4.5 0-6.22l8.902-8.9C99.63 1.622 103.44.05 107.5.05c4.055 0 7.867 1.576 10.735 4.44l5.327 5.328c5.915 5.923 5.915 15.553 0 21.468l-8.902 8.902c-.857.86-1.98 1.287-3.106 1.287zM97.19 16.502l14.363 14.363 5.794-5.794c2.49-2.49 2.49-6.54-.003-9.04l-5.322-5.32c-1.207-1.2-2.813-1.87-4.52-1.87-1.707 0-3.312.67-4.517 1.87l-5.795 5.8z"/><path fill="#F27258" d="M111.622 37.003l-22.73 22.73-56.038 56.037-20.578-20.58 44.078-44.076h.003L88.89 18.576l2.154-2.152"/><path fill="#201F2E" d="M32.854 120.164c-1.166 0-2.283-.464-3.107-1.288L9.17 98.298c-.826-.823-1.29-1.94-1.29-3.107 0-1.16.463-2.28 1.29-3.1l78.768-78.77c1.717-1.712 4.498-1.712 6.214 0l20.58 20.58c.823.827 1.286 1.94 1.286 3.11 0 1.166-.463 2.284-1.287 3.107L35.97 118.88c-.824.823-1.94 1.287-3.108 1.287zM18.492 95.19l14.363 14.364 72.552-72.552-14.363-14.364L18.492 95.19z"/><path fill="#FFDB6F" d="M32.882 115.647l-28.487 7.91 7.91-28.488"/><path fill="#201F2E" d="M4.395 127.95c-1.15 0-2.272-.45-3.108-1.287-1.12-1.12-1.55-2.757-1.127-4.283l7.91-28.486c.416-1.507 1.603-2.678 3.115-3.074 1.507-.397 3.12.036 4.226 1.143l20.58 20.578c1.11 1.11 1.54 2.72 1.15 4.23-.397 1.51-1.57 2.7-3.074 3.12l-28.49 7.91c-.386.103-.782.157-1.174.157zm10.128-24.446l-3.814 13.738 13.73-3.814-9.925-9.924z"/>
	</g>
	<g  v-else-if="name === 'whatsapp'">
		<path fill="#201F2E" d="M109.14 18.61c11.98 11.99 18.57 27.93 18.57 44.89-.02 34.98-28.48 63.44-63.45 63.44-10.27 0-20.42-2.5-29.45-7.24l-31.32 8.22c-.21.05-.43.08-.65.08-.67 0-1.32-.27-1.81-.76-.64-.64-.89-1.58-.65-2.46l8.37-30.55C3.54 84.85.8 74.23.8 63.44.82 28.46 29.28 0 64.26 0c16.96.01 32.9 6.61 44.88 18.61zm13.47 44.88c0-15.59-6.06-30.25-17.08-41.28C94.51 11.18 79.85 5.11 64.25 5.1 32.09 5.1 5.92 31.27 5.9 63.45c0 10.24 2.69 20.33 7.79 29.17.34.59.43 1.29.25 1.95l-7.47 27.29 28.01-7.34c.63-.17 1.3-.09 1.87.22 8.51 4.65 18.15 7.1 27.88 7.1 32.19 0 58.36-26.17 58.38-58.35z"/><path fill="#4DB967" d="M105.53 22.21c11.02 11.03 17.08 25.69 17.08 41.28-.02 32.18-26.19 58.35-58.38 58.35-9.73 0-19.37-2.45-27.88-7.1-.57-.31-1.24-.39-1.87-.22l-28.01 7.34 7.47-27.29c.18-.66.09-1.36-.25-1.95-5.1-8.84-7.79-18.93-7.79-29.17C5.92 31.27 32.09 5.1 64.25 5.1c15.6.01 30.26 6.08 41.28 17.11zm-10.52 63c.35-.94.12-1.99-.59-2.7L80.11 68.2c-.65-.65-1.61-.9-2.5-.65l-2.13.61c-.26.07-.5.18-.72.33l-4.69 3.13c-5.6-3.87-10.47-8.84-14.24-14.51l3.42-3.42c.31-.31.53-.69.65-1.1l.61-2.14c.25-.89.01-1.84-.65-2.5L45.55 33.64c-.71-.71-1.76-.94-2.7-.59l-2.43.92c-.34.13-.65.32-.91.58-8.47 8.47-8.47 22.24 0 30.71L62.8 88.55c4.24 4.24 9.79 6.35 15.36 6.35 5.55 0 11.12-2.11 15.35-6.35.26-.25.45-.56.58-.9l.92-2.44z"/><path fill="#201F2E" d="M94.42 82.51c.71.71.94 1.76.59 2.7l-.92 2.44c-.13.34-.32.65-.58.9-4.23 4.24-9.8 6.35-15.35 6.35-5.57 0-11.12-2.11-15.36-6.35L39.51 65.26c-8.47-8.47-8.47-22.24 0-30.71.26-.26.57-.45.91-.58l2.43-.92c.94-.35 1.99-.12 2.7.59l14.31 14.31c.66.66.9 1.61.65 2.5l-.61 2.14c-.12.41-.34.79-.65 1.1l-3.42 3.42c3.77 5.67 8.64 10.64 14.24 14.51l4.69-3.13c.22-.15.46-.26.72-.33l2.13-.61c.89-.25 1.85 0 2.5.65l14.31 14.31zm-4.9 2.81l.14-.36-12.09-12.09-.31.08-5.77 3.86c-.852.56-1.95.57-2.8.02-7.39-4.77-13.71-11.25-18.29-18.74-.61-1.01-.46-2.3.37-3.14l4.41-4.4.01-.05L43.1 38.41l-.36.13c-6.1 6.51-5.98 16.76.37 23.11l23.3 23.3c3.24 3.24 7.49 4.85 11.75 4.85 4.08.01 8.17-1.49 11.36-4.48z"/><path fill="#4D8E47" d="M89.66 84.96l-.14.36c-3.19 2.99-7.28 4.49-11.36 4.48-4.26 0-8.51-1.61-11.75-4.85l-23.3-23.3c-6.35-6.35-6.47-16.6-.37-23.11l.36-.13L55.19 50.5l-.01.05-4.41 4.4c-.83.84-.98 2.13-.37 3.14 4.58 7.49 10.9 13.97 18.29 18.74.85.55 1.95.54 2.8-.02l5.77-3.86.312-.08L89.66 84.96z"/><path fill="#201F2E" d="M108.46 85.607c-1.21-.723-2.774-.328-3.496.88-9.164 15.346-25.912 24.877-43.73 24.877-1.407 0-2.538 1.143-2.538 2.55 0 1.41 1.152 2.55 2.562 2.55 9.85 0 19.544-2.607 28.034-7.543 8.232-4.782 15.166-11.635 20.05-19.813.72-1.21.327-2.775-.882-3.497zm4.714-12.26c-1.35-.404-2.77.36-3.174 1.71-.293.976-.618 1.955-.97 2.914-.486 1.32.19 2.79 1.514 3.275.29.107.586.156.88.156 1.037 0 2.014-.64 2.393-1.67.387-1.055.746-2.135 1.068-3.207.404-1.348-.363-2.77-1.71-3.174z"/>
	</g>

	<g v-else-if="name === 'location'">
		<path fill="#F27258" d="M107.234 47.417c0 7.102-1.71 13.802-4.738 19.713L79.44 105.773l-9.107 15.262c-2.895 4.854-9.922 4.854-12.817 0l-9.104-15.262L25.356 67.13c-3.07-5.986-4.783-12.78-4.738-19.977.137-23.465 19.23-42.718 42.69-43.04 24.205-.336 43.926 19.182 43.926 43.304zm-30.007 0c0-7.348-5.956-13.3-13.3-13.3S50.63 40.07 50.63 47.417c0 7.343 5.956 13.296 13.298 13.296 7.344 0 13.3-5.953 13.3-13.296z"/><path fill="#E4F5F4" d="M63.926 34.117c7.344 0 13.3 5.953 13.3 13.3 0 7.343-5.956 13.297-13.3 13.297S50.63 54.76 50.63 47.417c0-7.348 5.953-13.3 13.296-13.3z"/><g fill="#201F2E"><path d="M22.237 68.646L54.4 122.55c2.036 3.413 5.624 5.45 9.6 5.45 3.975 0 7.563-2.037 9.6-5.45l32.16-53.904c.042-.068.08-.14.117-.21 3.415-6.666 5.15-13.87 5.15-21.41 0-12.685-4.977-24.576-14.008-33.483C87.99 4.637 76.02-.17 63.33.003 51.006.176 39.4 5.127 30.652 13.948c-8.75 8.82-13.604 20.466-13.68 32.794-.042 7.535 1.737 15.037 5.148 21.697.037.07.076.14.117.21zm41.2-61.21c10.686-.15 20.76 3.9 28.363 11.398 7.604 7.5 11.79 17.512 11.79 28.19 0 6.312-1.437 12.34-4.275 17.918L67.217 118.74c-.984 1.65-2.58 1.827-3.218 1.827-.64 0-2.24-.178-3.22-1.827l-32.1-53.798c-2.877-5.653-4.315-11.76-4.277-18.158.126-21.4 17.635-39.052 39.03-39.348z"/><path d="M64 64.04c9.38 0 17.014-7.632 17.014-17.015 0-9.382-7.633-17.014-17.014-17.014-9.382 0-17.015 7.638-17.015 17.02S54.618 64.04 64 64.04zm0-26.597c5.284 0 9.582 4.298 9.582 9.582S69.284 56.607 64 56.607c-5.284 0-9.582-4.298-9.582-9.582s4.298-9.582 9.582-9.582z"/></g>
	</g>

	<g v-else-if="name === 'search'">
		<path fill="#31CCC9" d="M46.42 6.584c10.207 0 20.412 3.883 28.182 11.653 15.54 15.54 15.54 40.827 0 56.364-15.537 15.54-40.823 15.54-56.363 0-15.54-15.53-15.54-40.82 0-56.36 7.77-7.77 17.97-11.65 28.18-11.65zM23.677 69.166c6.073 6.074 14.153 9.42 22.743 9.42 8.594 0 16.67-3.346 22.748-9.42 6.073-6.077 9.42-14.153 9.42-22.747 0-8.59-3.347-16.67-9.42-22.75-6.078-6.08-14.154-9.43-22.748-9.43-8.59 0-16.67 3.34-22.743 9.42-6.077 6.08-9.423 14.16-9.423 22.75s3.346 16.67 9.423 22.74z"/><path fill="#E4F5F4" d="M46.42 20.84c6.835 0 13.258 2.66 18.09 7.493C69.342 33.166 72 39.588 72 46.42c0 6.834-2.658 13.257-7.49 18.09C59.677 69.342 53.255 72 46.42 72c-6.83 0-13.254-2.658-18.086-7.49-4.832-4.833-7.493-11.255-7.493-18.09 0-6.832 2.67-13.254 7.5-18.086s11.25-7.494 18.08-7.494zm-7.606 17.974c2.025-2.03 4.73-3.146 7.605-3.146s5.58 1.116 7.6 3.146c.64.642 1.48.965 2.33.965s1.68-.33 2.33-.97c1.28-1.29 1.28-3.38 0-4.66-3.27-3.28-7.63-5.08-12.27-5.08s-8.99 1.8-12.26 5.07c-1.29 1.28-1.29 3.37 0 4.66 1.28 1.28 3.37 1.28 4.66 0z"/><path fill="#FFDB6F" d="M95.004 83.732l4.687 4.684L88.42 99.69l-4.684-4.687"/><g fill="#201F2E"><path d="M13.582 79.262c9.055 9.052 20.947 13.58 32.838 13.58 10.867 0 21.73-3.78 30.43-11.337l5.533 5.534-5.64 5.63c-1.284 1.29-1.284 3.37 0 4.66l26.41 26.41c2.84 2.84 6.567 4.26 10.296 4.26 3.72 0 7.45-1.42 10.29-4.26 5.67-5.68 5.67-14.92 0-20.59L97.33 76.74c-1.283-1.283-3.37-1.283-4.655 0l-5.637 5.64-5.534-5.533c15.826-18.225 15.08-45.94-2.242-63.267-18.11-18.105-47.573-18.108-65.683 0-18.11 18.11-18.11 47.573 0 65.682zm70.15 15.74l11.27-11.27 4.69 4.684L88.415 99.69l-4.684-4.687zm24.08 24.082l-14.737-14.736 11.273-11.275 14.737 14.736c3.108 3.1 3.108 8.16 0 11.27-3.11 3.11-8.165 3.1-11.274 0zM18.237 74.602C2.7 59.065 2.7 33.778 18.237 18.238c7.77-7.768 17.98-11.654 28.183-11.654 10.207 0 20.412 3.883 28.182 11.653 15.54 15.54 15.54 40.827 0 56.364-15.538 15.54-40.823 15.54-56.364.01z"/><path d="M14.254 46.42c0 8.592 3.346 16.67 9.423 22.746 6.073 6.074 14.153 9.42 22.743 9.42 8.594 0 16.67-3.346 22.748-9.42 6.073-6.077 9.42-14.153 9.42-22.747 0-8.59-3.347-16.67-9.42-22.75-6.078-6.08-14.154-9.43-22.748-9.43-8.59 0-16.67 3.34-22.743 9.42-6.077 6.08-9.423 14.16-9.423 22.75zm14.08 18.09c-4.832-4.833-7.493-11.255-7.493-18.09 0-6.832 2.67-13.255 7.5-18.086s11.25-7.494 18.08-7.494c6.84 0 13.26 2.66 18.09 7.493C69.35 33.166 72 39.588 72 46.42c0 6.834-2.658 13.257-7.49 18.09C59.677 69.342 53.255 72 46.42 72c-6.83 0-13.254-2.66-18.086-7.49z"/><path d="M34.157 34.157c-1.288 1.285-1.288 3.37 0 4.657 1.284 1.285 3.37 1.285 4.657 0 2.025-2.03 4.73-3.146 7.605-3.146s5.58 1.117 7.6 3.146c.64.642 1.48.965 2.33.965s1.68-.33 2.33-.97c1.28-1.29 1.28-3.38 0-4.66-3.27-3.28-7.63-5.08-12.27-5.08s-8.99 1.8-12.26 5.07z"/></g><path fill="#31CCC9" d="M104.348 93.073l14.737 14.736c3.108 3.1 3.108 8.16 0 11.27-3.11 3.11-8.165 3.1-11.274 0l-14.73-14.74 11.27-11.28z"/>
	</g>

	<g v-else-if="name === 'info'">
		<circle cx="64" cy="64" r="61" fill="#1FCFC1"/><path fill="#201F2E" d="M64 128C28.71 128 0 99.29 0 64S28.71 0 64 0s64 28.71 64 64-28.71 64-64 64zM64 6C32.02 6 6 32.02 6 64s26.02 58 58 58 58-26.02 58-58S95.98 6 64 6z"/><g fill="#1FCFC1" stroke="#FFF" stroke-miterlimit="10"><circle cx="64" cy="36.335" r="7.905"/><path d="M68.463 53.058h-8.925c-1.9 0-3.442 1.54-3.442 3.442v39.626c0 1.902 1.54 3.443 3.442 3.443h8.925c1.9 0 3.44-1.55 3.44-3.45V56.5c0-1.9-1.54-3.442-3.44-3.442z"/></g><path fill="#201F2E" d="M64 46.406c-5.764 0-10.454-4.69-10.454-10.454S58.236 25.498 64 25.498s10.454 4.69 10.454 10.454S69.764 46.406 64 46.406z"/><path fill="#FFF" d="M64 30.598c-2.953 0-5.354 2.402-5.354 5.354s2.402 5.354 5.354 5.354c2.953 0 5.354-2.402 5.354-5.354s-2.4-5.354-5.354-5.354z"/><path fill="#201F2E" d="M68.463 101.736h-8.925c-3.304 0-5.992-2.688-5.992-5.99v-39.63c0-3.303 2.688-5.99 5.992-5.99h8.925c3.303 0 5.99 2.687 5.99 5.99v39.628c0 3.304-2.687 5.99-5.99 5.99z"/><path fill="#FFF" d="M59.538 55.226c-.492 0-.893.4-.893.893v39.62c0 .49.4.89.893.89h8.924c.492 0 .893-.4.893-.9V56.12c0-.492-.4-.893-.893-.893h-8.924zm32.77 39.63c-.653 0-1.306-.25-1.804-.747-.996-1-.996-2.61 0-3.61 11.5-11.5 14.287-28.96 6.938-43.46-.637-1.26-.135-2.79 1.12-3.43 1.258-.64 2.79-.14 3.43 1.12 4.026 7.94 5.447 16.82 4.107 25.66-1.37 9.03-5.52 17.226-11.99 23.7-.5.5-1.15.75-1.81.75zm1.456-55.08c-.697 0-1.393-.283-1.896-.842-.44-.488-.9-.972-1.364-1.437-.996-.996-.996-2.61 0-3.606.995-.99 2.61-.99 3.605 0 .52.53 1.04 1.08 1.54 1.63.94 1.05.86 2.66-.19 3.61-.49.44-1.1.66-1.71.66z"/>
	</g>
	<g v-else-if="name === 'user'">
		<path fill="#F27258" d="M87.538 37.046c-.293-4.773-4.26-8.553-9.104-8.553h-18.44c-1.737 0-3.342-.57-4.632-1.535-1.13-.843-2.024-1.992-2.558-3.32-.22-.548-1.008-.483-1.156.086-1.59 6.106-5.186 11.355-10.013 15.044h-.026c-.5-1.212-.92-2.482-1.26-3.804-3.24-12.718 2.51-25.444 12.84-28.43 1.24-.357 2.49-.55 3.73-.605 2.99-1.58 6.34-2.48 9.88-2.48 12.59 0 22.79 11.09 22.79 24.78 0 3.65-.73 7.11-2.03 10.23l-.01-.01v-.84c0-.2-.01-.39-.02-.58z"/><path fill="#201F2E" d="M41.634 41.753h-.026c-1.212 0-2.305-.733-2.764-1.855-.55-1.346-1.015-2.756-1.383-4.193C33.83 21.46 40.52 7.09 52.37 3.665c1.215-.35 2.474-.577 3.754-.677C59.51 1.314 63.1.466 66.804.466c14.21 0 25.772 12.457 25.772 27.77 0 3.954-.76 7.782-2.256 11.377-.344.824-1.038 1.452-1.893 1.71-.852.26-1.777.122-2.52-.373-.832-.554-1.336-1.49-1.336-2.488v-.842c0-.12 0-.237-.01-.354-.2-3.262-2.89-5.788-6.13-5.788H59.99c-2.337 0-4.558-.736-6.42-2.13-.193-.143-.38-.293-.563-.45-2.08 4.797-5.378 9.043-9.564 12.242-.52.398-1.156.613-1.812.613zm25.17-35.317c-2.94 0-5.797.718-8.493 2.135-.38.21-.81.33-1.25.34-1.04.05-2.06.21-3.03.5-8.57 2.48-13.38 13.15-10.96 24.03 2.71-2.96 4.69-6.56 5.7-10.46.42-1.59 1.85-2.7 3.49-2.7 1.48 0 2.78.89 3.33 2.26.33.81.87 1.51 1.58 2.04.82.62 1.81.94 2.85.94h18.44c3.134 0 6.007 1.21 8.168 3.18.007-.15.008-.3.008-.45 0-12.02-8.88-21.79-19.8-21.79z"/><path fill="#E4F5F4" d="M78.367 28.494c4.844 0 8.812 3.78 9.104 8.553-.46 12.03-5.95 22.262-13.69 26.89-2.84 1.707-5.99 2.653-9.3 2.653-3.32 0-6.48-.956-9.34-2.67-7.33-4.415-12.64-13.85-13.55-25.08l-.01-.073c4.83-3.69 8.43-8.94 10.02-15.045.15-.57.94-.634 1.16-.087.54 1.33 1.43 2.478 2.56 3.32 1.29.966 2.9 1.536 4.63 1.536h18.44z"/><path fill="#201F2E" d="M64.468 69.574c-3.797 0-7.457-1.042-10.878-3.098-8.275-4.982-14.014-15.467-14.984-27.37-.092-1.023.332-2.086 1.15-2.71 4.38-3.346 7.552-8.113 8.936-13.424.413-1.587 1.848-2.697 3.49-2.697 1.472 0 2.778.885 3.326 2.254.323.8.868 1.51 1.574 2.03.824.61 1.807.94 2.845.94h18.44c6.387 0 11.694 4.99 12.084 11.35.01.1.01.19.01.29-.49 12.8-6.29 24.04-15.14 29.34-3.4 2.04-7.05 3.07-10.84 3.07zM44.702 40.07c1.125 9.406 5.633 17.478 11.964 21.29 4.947 2.973 10.638 2.977 15.572.017 7-4.187 11.794-13.706 12.243-24.284-.26-3.16-2.92-5.614-6.11-5.614H59.93c-2.34 0-4.558-.74-6.42-2.13-.194-.15-.38-.3-.564-.45-1.856 4.27-4.68 8.12-8.242 11.17z"/><path fill="#E4F5F4" d="M83.568 79.58s-6.504 8.518-19.05 8.518-19.048-8.52-19.048-8.52c5.37-3.06 9.235-9.14 9.657-15.66 2.855 1.715 6.016 2.673 9.34 2.673 3.312 0 6.46-.94 9.306-2.65h.002c.436 6.52 4.415 12.59 9.793 15.64z"/><path fill="#201F2E" d="M64.52 91.083c-13.863 0-21.12-9.297-21.423-9.69-.523-.687-.724-1.563-.553-2.406.17-.844.7-1.573 1.446-2 4.604-2.626 7.806-7.83 8.157-13.26.067-1.04.67-1.97 1.593-2.452.922-.483 2.03-.452 2.923.085 4.956 2.977 10.634 2.98 15.575.02 1.28-.77 2.932-.472 3.865.695.38.476.608 1.06.65 1.668.36 5.39 3.612 10.587 8.288 13.242.75.426 1.28 1.155 1.46 2s-.03 1.723-.55 2.408c-.3.393-7.55 9.69-21.42 9.69zM50.072 79.98c2.593 2.163 7.43 5.13 14.446 5.13 6.988 0 11.83-2.964 14.43-5.127-3.57-2.993-6.222-7.15-7.445-11.66-4.55 1.667-9.538 1.666-14.094-.008-1.21 4.522-3.82 8.68-7.34 11.664z"/><path fill="#FFDB6F" d="M90.408 80H37.59c-4.908 0-19.27-2.97-19.27 29.624l1.038 11.963c0 2.055 1.666 4.413 3.72 4.413h81.845c2.054 0 3.72-2.373 3.72-4.428l1.038-11.594C109.68 77.384 95.32 80 90.41 80z"/><path fill="#201F2E" d="M104.923 128H23.08c-3.453 0-6.487-2.97-6.563-6.658l-1.03-11.516c-.006-.083-.01-.11-.01-.193 0-21.852 6.278-32.445 19.192-32.445.66 0 1.29-.107 1.85-.086.39.014.75-.102 1.06-.102H90.4c.297 0 .63.133.994.12.51-.015 1.075.04 1.68.04 13.08 0 19.44 10.74 19.44 32.755 0 .086-.003.188-.01.274l-1.028 11.1c-.08 3.31-2.75 6.71-6.56 6.71zm-83.76-18.434l1.027 11.614c.007.084.01.278.01.36 0 .672.603 1.46.878 1.46h81.844c.238 0 .876-.79.876-1.508 0-.086.004-.226.012-.312l1.026-11.33c-.03-26.905-10-26.92-13.755-26.92-.53 0-1.03.022-1.49.038-.43.015-.83.032-1.18.032H37.59c-.38 0-.81-.027-1.285-.045-.496-.02-1.046-.047-1.636-.047-3.69 0-13.48-.01-13.51 26.658z"/>
	</g>
	<g v-else-if="name === 'mosque-pin'">
		<circle cx="64" cy="64" r="61.135" fill="#4DB967"/><path fill="#201F2E" d="M64 128C28.71 128 0 99.29 0 64S28.71 0 64 0s64 28.71 64 64-28.71 64-64 64zM64 5.73C31.87 5.73 5.73 31.87 5.73 64S31.87 122.27 64 122.27 122.27 96.13 122.27 64 96.13 5.73 64 5.73z"/><path fill="#FFDB6F" d="M70.905 21.71c-8.195.42-15.765 3.157-22.073 9.465-13.355 13.354-13.355 35.015 0 48.363 13.355 13.35 35.015 13.35 48.364 0 .73-.73 8.413-8.408 9.467-22.083 2.094 13.258-1.367 26.595-11.568 36.804-16.825 16.82-44.16 16.82-60.982 0-16.824-16.83-16.823-44.16 0-60.99C44.307 23.07 57.66 19.6 70.905 21.7"/><path fill="#FFDB6F" d="M93.815 47.348l-7.57 7.364L88.04 65.11l-9.34-4.912-9.347 4.912 1.802-10.398-7.574-7.364 10.46-1.512 4.66-9.466 4.67 9.466"/><path fill="#201F2E" d="M94.26 44.325l-9.02-1.306-4.028-8.18c-.46-.94-1.42-1.52-2.46-1.52-1.025 0-1.97.58-2.452 1.52l-4.012 8.18-9.02 1.3c-1.03.15-1.897.87-2.223 1.86-.307.98-.034 2.06.692 2.79l6.542 6.36-1.55 8.99c-.19 1.02.22 2.05 1.07 2.66.48.35 1.04.51 1.61.51.42 0 .86-.11 1.26-.31l8.06-4.25 8.08 4.25c.92.48 2.03.41 2.87-.21.83-.62 1.24-1.65 1.08-2.67l-1.55-8.99 6.52-6.37c.74-.728 1.02-1.81.7-2.796-.32-.996-1.19-1.717-2.22-1.866zm-9.86 8.12c-.63.622-.933 1.528-.773 2.414l.855 4.93-4.448-2.33c-.394-.21-.84-.32-1.28-.32-.418 0-.86.1-1.254.31l-4.453 2.32.858-4.94c.135-.89-.158-1.8-.79-2.42l-3.588-3.51 4.95-.72c.892-.13 1.667-.69 2.062-1.5l2.21-4.5 2.24 4.5c.39.81 1.14 1.37 2.05 1.5l4.94.72-3.6 3.51z"/><path fill="#201F2E" d="M64.498 109.388c-12.04 0-23.506-4.706-32.154-13.36-8.608-8.608-13.35-20.065-13.35-32.26 0-12.192 4.742-23.648 13.352-32.257 10.262-10.27 24.096-14.62 38.95-12.26 1.365.22 2.295 1.5 2.078 2.86-.217 1.37-1.494 2.3-2.86 2.08-13.237-2.1-25.532 1.76-34.632 10.87-7.666 7.66-11.887 17.86-11.887 28.72s4.22 21.06 11.885 28.73c8.997 9 21.42 13.21 34.087 11.54 1.384-.17 2.625.79 2.806 2.15.18 1.37-.782 2.63-2.15 2.81-2.05.27-4.097.41-6.125.41z"/><path fill="#201F2E" d="M95.095 96.392c-.54 0-1.096-.217-1.505-.627-.823-.825-.823-2.185 0-3.008 5.49-5.492 9.09-12.143 10.653-19.44-2.3 4.308-4.765 6.948-5.544 7.725-6.87 6.865-15.98 10.642-25.68 10.642-9.71 0-18.84-3.776-25.7-10.642-10.46-10.47-13.54-26.035-7.84-39.693.45-1.09 1.69-1.6 2.78-1.15 1.08.45 1.59 1.7 1.14 2.78-5.04 12.06-2.32 25.81 6.92 35.05 6.06 6.05 14.1 9.39 22.68 9.39 8.56 0 16.61-3.34 22.67-9.39 1.3-1.31 7.9-8.47 8.84-20.75.08-1.08.95-1.92 2.04-1.96 1.06-.03 2 .72 2.17 1.78 2.34 14.73-1.98 28.46-12.16 38.64-.41.41-.97.63-1.5.63zM48.832 33.676c-.64 0-1.28-.244-1.768-.732-.977-.976-.977-2.56 0-3.535 6.28-6.28 14.258-9.71 23.713-10.2 1.387-.08 2.555.99 2.625 2.37s-.99 2.55-2.37 2.62c-8.295.42-14.98 3.28-20.433 8.73-.49.48-1.13.73-1.77.73z"/>
	</g>
	<g v-else-if="name === 'arrow'">
		<path fill="#FFFFFF" d="M128 64l-11.282-11.28-44.72 44.638V0H56.002v97.358L11.36 52.64 0 64l64 64 64-64z"/>
	</g>
</svg>
</template>

<script>
	export default {
		name: 'icon',
		props: [ 'name' ]
	};
</script>
