<template>
	<gmap-map ref="map" v-bind:center="$store.getters.userPosition" v-bind:zoom="mapZoom" map-type-id="roadmap" style="width: 100%; height: 100%" v-bind:options="{ streetViewControl:false }">
		<gmap-circle v-bind:center="$store.getters.userPosition" v-bind:radius="$store.state.user.location.accuracy" ref="accuracyOverlay" v-bind:options="{ strokeWeight:0,fillColor: '#2196F3', fillOpacity: 0.15 }"/>
		<gmap-marker v-bind:position="$store.getters.userPosition" v-bind:icon="markerIcon()"></gmap-marker>
	</gmap-map>
</template>

<script>
	export default {
		name: 'mosque-map',
		
		props: [ 'name' ],

		data () {
			return {
				mapLoaded: false
			}
		},

		mounted () {

			this.$refs.map.$mapCreated.then( ( ) => {

				this.mapLoaded = true;

				if ( this.$store.getters.canUseDeviceLocation && this.$store.state.user.settings.hasAllowedGeoLocation ) {
					this.$store.dispatch( 'getGeoLocation' ).then( this.onLocation );
				} else {
					this.$store.dispatch( 'getGeoIp' ).then( this.onLocation );
				}

				this.$refs.map.resizePreserveCenter();

			} ).catch( ( error ) => {
				console.error( error );
			} );

			// console.log(this.$refs.map.$mapObject );
		},

		mosqueMarker () {
				if (!this.mapLoaded)
					return null;

				return {
					url: MosquePin,
					anchor: new google.maps.Point ( 12, 12 ),
					size: new google.maps.Size( 128, 128 ),
					scaledSize: new google.maps.Size( 24, 24 )
				}
			},
	};
</script>
