<template>
	<transition name="transition" v-bind:duration="525" appear >
		<div class="page-transition" v-show="visible">
			<svg class="cover" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid slice">
				<!--<linearGradient id="gradient" x1="50.001" x2="50.001" y1="100" gradientUnits="userSpaceOnUse">
					<stop offset="0" stop-color="#A101FF" />
					<stop offset="1" stop-color="#2BABD2" />
				</linearGradient>-->
				<circle class="circle" r="150" fill="#060133" />
				<!--<circle class="circle" cx="65" cy="0" r="150" fill="url(#gradient)" />-->
			</svg>
		</div>
	</transition>
</template>

<script>
	export default {
		name: 'PageTransition',

		props: ['visible']
	}

</script>


<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.page-transition {
		position: fixed;
		left: 0;
		top: 0;
		overflow: hidden;
		transform: translateZ(0);
		
		height: 100vh;
		width: 100vw;
	}
	
	.cover {
		height: 100%;
		width: 100%;
		z-index: 1;
	}
	
	.circle {
		transform-origin: 50% 50%;
		fill: $blue-800;
		cx: 50%;
		cy: 100%;
	}
	
	.transition {
		&-enter,
		&-leave-to {
			.circle {
				cy: 100%;
				transform: scaleX(0.00001) scaleY(0.00001);
			}
		}

		&-enter-active {
			transition-duration: 525ms;
			.circle {
				transition: transform 500ms $ease-in-out-cubic;
			}
		}

		&-enter-to,
		&-leave {
			.circle {
				transform: scaleX(1) scaleY(1);
			}
		}

		&-leave-active {
			transition-duration: 525ms;
			.circle {
				cy: 0;
				transition: transform 500ms $ease-in-out-cubic;
			}
		}
	}
</style>