<template>
	<transition-group name="ripple" v-bind:duration="600" tag="div" class="ripple-effect" v-bind:class="{ 'is-holding' : isHolding }" >
		<div v-for="ripple in ripples" class="ripple" v-bind:key="ripple['z-index']" v-bind:style="ripple" />
	</transition-group>
</template>

<script>
	export default {
		name: 'ripple-effect',

		props: {
			trigger: {
				type: String,
				required: true
			},

			opacity: {
				type: Number,
				default: 0.2
			},

			color: {
				type: String,
				default: '#4FC3F7'
			}
		},

		data () {
			return {
				ripples: [],
				isHolding: true,
				triggerEl: null,
				triggerEvent: null,
				index: 0
			};
		},

		computed: {
			releaseEvent () {
				return ( this.triggerEvent === 'mousedown' ? 'mouseup' : 'touchend' );
			}
		},

		watch: {
			trigger () {
				this.clean();
				this.initialize();
			}
		},

		mounted () {
			this.$nextTick( () => {
				this.initialize();
			} );
		},

		beforeDestroy () {
			this.clean();
		},

		methods: {

			initialize () {

				this.triggerEl = this.trigger ? this.$parent.$refs[this.trigger] : null;

				if ( !this.triggerEl ) {
					return;
				}

				this.triggerEl.addEventListener( 'mousedown', this.onMouseDown );
				this.triggerEl.addEventListener( 'touchstart', this.onTouchStart );
			},

			clean () {

				if ( !this.triggerEl ) {
					return;
				}

				this.triggerEl.removeEventListener( 'mousedown', this.onMouseDown );
				this.triggerEl.removeEventListener( 'touchstart', this.onTouchStart );
				document.removeEventListener( 'touchend', this.onRelease );
				document.removeEventListener( 'mouseup', this.onRelease );

			},

			onMouseDown ( event ) {
				// Trigger on left click only
				if ( event.button === 0 ) {
					this.startRipple( event.type, event );
				}
			},

			onTouchStart ( event ) {
				if ( event.changedTouches ) {
					for ( let i = 0; i < event.changedTouches.length; ++i ) {
						this.startRipple( event.type, event.changedTouches[i] );
					}
				}
			},

			startRipple ( eventType, event ) {
				// Store the event use to generate this ripple: don't allow
				// further events of different types until we're done. Prevents double
				// ripples from mousedown/touchstart.
				if ( this.triggerEvent && eventType !== this.triggerEvent ) {
					return;
				}

				this.triggerEvent = eventType;

				this.isHolding = true;

				const rect = this.triggerEl.getBoundingClientRect();

				let radius = Math.sqrt( ( rect.width * rect.width ) + ( rect.height * rect.height ) );

				let x = event.offsetX;
				let y;

				if ( x === undefined ) {
					x = event.clientX - rect.left;
					y = event.clientY - rect.top;
				} else {
					y = event.offsetY;
				}

				const diameter = ( 2 * radius ) + 'px';

				this.ripples.push( {
					'z-index': this.index++,
					'background-color': this.color,
					'oapcity': this.opacity,
					'width': diameter,
					'height': diameter,
					'left': ( x - radius ) + 'px',
					'top': ( y - radius ) + 'px'
				} );

				document.addEventListener( this.releaseEvent, this.onRelease );

			},

			onRelease ( event ) {

				document.removeEventListener( this.releaseEvent, this.onRelease );

				this.isHolding = false;

				setTimeout( () => {

					this.ripples.shift();

					if ( this.ripples.length === 0 ) {
						this.triggerEvent = null;
						this.index = 0;
					}

				}, 700 );
			}
		}
	};
</script>

<style lang="scss">
	@import '../../styles/global';
	
	.ripple-effect {
		border-radius: inherit;
		display: block;

		overflow: hidden;
		position: absolute;

		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		// Forces webkit to properly contain content within border-radius
		-webkit-mask-image: -webkit-radial-gradient(circle, white, black);
	}

	.is-holding {
		.ripple {
			&, &-enter-to {
				&:last-of-type {
					opacity: 0.4;
				}
			}
		} 
	}

	.ripple {
		position: absolute;

		pointer-events: none;
		user-select: none;

		transform-origin: 50% 50%;
		transition: transform 650ms $ease-in-out-cubic, opacity 650ms $ease-in-out-cubic;
		
		background-clip: padding-box;
		border-radius: 50%;
		opacity: 0;
		backface-visibility: hidden;
		
		&-enter {
			transform: scale(0);
		}

		&-enter-to {
			transform: scale(1);
			opacity: 0;
		}
	}
</style>