<template>
	<button class="button" v-bind:class="buttonClass" v-on:click="onClick" v-bind:style="style" ref="button">
		<div class="content">
			<span class="icon">
				<slot name="icon" ></slot>
			</span>
			<slot></slot>
		</div>
		<ripple-effect trigger="button" v-if="!disabled" v-bind:opacity="0.7" v-bind:color="rippleColor" />
	</button>
</template>

<script>
	import RippleEffect from 'components/ui/RippleEffect';

	export default {
		name: 'ripple-button',

		components: {
			'ripple-effect': RippleEffect
		},

		props: {
			disabled: {
				type: Boolean,
				default: false
			},

			type: {
				type: String,
				default: ''
			},

			color: {
				type: String,
				default: '#3F51B5'
			},

			rippleColor: {
				type: String,
				default: '#C5CAE9'
			}
		},

		computed: {
			buttonClass () {

				const icon = ( this.$slots.icon ) ? ' with-icon' : '';

				if ( this.type === 'simple' ) {
					return 'simple' + icon;
				} else if ( this.type === 'outline' ) {
					return 'outline' + icon;
				}

				return icon;
			},

			style () {

				if ( this.type === 'simple' ) {
					return `color:${this.color}`;
				} else if ( this.type === 'outline' ) {
					return `color: ${this.color}; border-color: ${this.color}`;
				}

				return `background-color: ${this.color}; border-color: ${this.color}`;
			}
		},

		methods: {
			onClick ( event ) {
				this.$emit( 'click', event );
			}
		}
	};
</script>

<style scoped lang="scss">
	@import '../../styles/global';
	
	//
	.button {
		backface-visibility: hidden;
		user-select: none;

		background-color: $indigo-500;
		border: 1px solid $indigo-500;
		
		cursor: pointer;

		color: $white;
		font-family: inherit;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.3px;
		line-height: 1;
		
		margin: 0;
		outline: 0;
		padding: 0 16px;
		position: relative;

		min-height: 38px;
		width: auto;
		display: inline-flex;

		&:focus {
			outline: 0;
		}

		&::-moz-focus-inner {
			padding: 0;
			border: 0;
		}
	}

	.outline {
		background-color: transparent;
	}

	.simple {
		background-color: transparent;
		border-color: transparent;
	}

	.with-icon {
		.icon {
			margin-right: 7px;
			flex: none;
			display: block;
			width: 20px;
		}
	}

	.content {
		display: flex;
		justify-content: center;
		align-items: center;
		pointer-events: none;
	}
	
</style>
