<template>
	<span class="ripple-checkbox" v-on:click="onClick" ref="root" v-bind:style="{ 'pointer-events': disabled ? 'none' : 'auto' }">
		<input class="checkbox" type="checkbox" v-bind:value="value" v-on:change="updateValue($event.target.checked)" v-bind:disabled="disabled" >
		<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400"><path class="icon-border" d="M199.996 0C89.713 0 0 89.72 0 200s89.713 200 199.996 200S400 310.28 400 200 310.28 0 199.996 0zm0 373.77C104.18 373.77 26.23 295.816 26.23 200c0-95.817 77.95-173.77 173.766-173.77 95.817 0 173.77 77.954 173.77 173.77.002 95.816-77.954 173.77-173.77 173.77z"/><path class="icon-checkmark" v-show="value" d="M272.406 134.526l-103.13 103.126-41.69-41.68c-5.123-5.117-13.422-5.12-18.545.003-5.123 5.125-5.123 13.425 0 18.548l50.965 50.955c2.56 2.558 5.916 3.838 9.27 3.838s6.72-1.28 9.28-3.842c.008-.01.014-.022.027-.035l112.37-112.37c5.125-5.12 5.125-13.426 0-18.546-5.122-5.123-13.427-5.123-18.544 0z"/></svg>
		<ripple-effect trigger="root" v-if="!disabled" v-bind:opacity="1"  color="#7CB342" />
	</span>
</template>

<script>
	import RippleEffect from 'components/ui/RippleEffect';

	export default {
		name: 'ripple-checkbox',

		components: {
			'ripple-effect': RippleEffect
		},

		props: {
			disabled: {
				type: Boolean,
				default: false
			},

			value: {
				type: Boolean,
				default: false
			}
		},

		methods: {
			onClick ( event ) {
				this.$emit( 'click', event );
			},

			updateValue ( checked ) {
				this.$emit( 'input', checked );
			}
		}
	};
</script>

<style scoped lang="scss">
	@import '../../styles/global';
	
	.ripple-checkbox {
		position: relative;
		display: inline-block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		// background-color: $indigo-200;
	}

	.icon {

		width: 32px;
		height: 32px;
		display: block;
		padding: 4px;

		&-border {
			fill: $blue-grey-600;
		}

		&-checkmark {
			fill: $light-green-600;
		}
	}

	.checkbox {
		position: absolute;
		width: 0px;
		height: 0px;
		opacity: 0;
		outline: 0;

		&:focus {
			outline: 0;
		}
	}
	
</style>
