<template>
	<div class="search-box">
		<div class="search-bar">
			<input v-bind:name="name" class="input" ref="input" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-bind:disabled="disabled" v-bind:placeholder="placeholder" />
			<icon-button v-on:click="onSearch" class="search-button" color="#3BC4C2"><icon name="search" /></icon-button>
			<div class="action">
				<slot></slot>
			</div>
		</div>
		<transition-group tag="div" name="result" class="search-results" v-show="showResults && hasResults">
			<article class="result" v-for="result in searchResults" v-bind:key="result.id" v-on:click="selectResult(result)" >
				<p class="result-description">{{ result.description }}</p>
			</article>
		</transition-group>
	</div>
</template>

<script>
	import Icon from 'components/ui/Icon';
	import IconButton from 'components/ui/IconButton';

	export default {
		name: 'search-box',

		components: {
			'icon': Icon,
			'icon-button': IconButton
		},

		props: {
			name: {
				type: String
			},
			value: {
				type: String
			},
			placeholder: {
				type: String
			},
			disabled: {
				type: Boolean,
				default: false
			},
			showResults: {
				type: Boolean,
				default: true
			},
			searchResults: {
				type: Array,
				default: () => []
			}
		},

		// data () {
		// 	return {
		// 		inFocus: false
		// 	};
		// },

		computed: {
			hasResults () {
				return this.searchResults && this.searchResults.length > 0;
			}
		},

		methods: {

			updateValue ( value ) {

				// trim preceding whitespace
				let maskResults = value.replace(/^([\s])+/g, '');
				// remove invalid characters
				maskResults = maskResults.replace(this.mask, '');
				// limit length
				maskResults = maskResults.substr(0, this.maxLength);

				if (maskResults !== value) {
					this.$refs.input.value = maskResults;
				}

				this.$emit( 'input', maskResults );
			},

			onSearch () {
				this.$emit('search-box-search', this.value );
			},

			selectResult ( result ) {
				this.updateValue( result.description );
				this.$emit('search-box-select', result );
				// console.log(result)
			}
		}
	};
</script>

<style scoped lang="scss">
	
	@import '../../styles/global';
	
	.search-box {
		user-select: none;
		width: 100%;
		padding: 8px;
	}

	.search-bar {
		position: relative;
		border-radius: 2px;
		background: $grey-50;
		border: 1px solid $grey-300;
		display: flex;
		align-items: center;
	}

	.input {
		// flex: 1 0 auto;
		border: 0;
		background: transparent;
		display: block;
		font-family: 'Montserrat', Arial, sans-serif;
		color: $indigo-400;
		font-size: 14px;
		line-height: 38px;
		outline: 0;
		padding: 0 0 0 16px;
		width: 100%;

		&:focus {
			outline: 0;
		}
		
		&:disabled {
			background: transparent !important;
			color: $blue-grey-400 !important;
		}

		&::placeholder{
			color: $blue-grey-500;
			font-weight: 300;
		}
	}

	.search-button, .actions {
		flex: none;
	}

	.search-results {
		border: 1px solid $grey-300;
		border-top: 0;
	}

	.result {
		background-color: $grey-50;
		border-top: 1px solid $grey-200;

		padding: 8px 16px;

		&-title,
		&-description {
			margin: 0;
		}

		&-title {
			font-size: 14px;
			font-weight: 400;
		}

		&-description {
			font-size: 12px;
		}

		&-enter, &-leave-to {

		}

		&-enter-active, &-leave-active {

		}

		&-enter-to, &-leave {

		}
	}

	.is-disabled {
		opacity: 0.5 !important;
		.wrapper {
			border-color: $blue-grey-400 !important;
		}

		.label,
		.input {
			color: $blue-grey-400 !important;
		}

		.indicator {
			border-bottom-color: $blue-grey-400 !important;
			transform: scaleX(0) translateZ(0);
		}
	}
</style>
