<template>
	<svg class="spinner" viewBox="0 0 44 44" width="44px" height="44px" >
		<circle class="outline" cx="22" cy="22" r="20" fill="none" stroke-width="4" v-bind:stroke="outline" ></circle>
		<circle class="path" cx="22" cy="22" r="20" fill="none" stroke-width="4" v-bind:stroke="stroke" ></circle>
	</svg>
</template>

<script>
	export default {
		name: 'spinner',

		props: {
			stroke: {
				type: String,
				default: '#29B6F6'
			},

			outline: {
				type: String,
				default: '#E0E0E0'
			},

			strokeWidth: {
				type: Number,
				default: 4
			}
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	//
	.spinner {
		animation: spinner-rotate 2s linear infinite;
		width: 52px;
		height: 52px;
		transform-origin: 50% 50%; 
	}

	.path {
		transform-origin: 50% 50%;
		stroke-linecap: round;
		animation: spinner-dash 1.5s $ease-in-out-quad infinite;
		// stroke-dasharray: 1, 150;//calc(1 + 2 * 20 * $PI ));
	}

	$PI:  3.14159265358979;

	@keyframes spinner-dash {
		0% {
			stroke-dasharray: 1, 150;
			stroke-dashoffset: 0;
		}
		50% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -35;
		}
		100% {
			stroke-dasharray: 90, 150;
			stroke-dashoffset: -125;
		}
	}
	
	@keyframes spinner-rotate {
		100% {
			transform: rotate(360deg);
		}
	}
</style>
