<template>
	<article class="salah" >
		<h1 class="name">{{ salah.name }}</h1>
		<div class="times" v-if="salah.jamaat">
			<salah-time class="salah-time" title="Adhan" v-bind:time="salah.adhan" v-bind:format="format" />
			<salah-time class="salah-time" title="Jamaat" v-bind:time="salah.salah" v-bind:format="format" />
		</div>
		<p class="notice" v-else>No Jamaat</p>
		<slot name="timeline" />
	</article>
</template>

<script>
	import SalahTime from 'components/salah/SalahTime';

	export default {

		name: 'salah',

		props: [ 'salah', 'format' ],

		components: {
			'salah-time': SalahTime
		}
	};
</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.salah {
		// padding: 23px;
		// padding-left: 0 18px 18px (24px + 16px + 24px);
		padding: 0 18px 18px (24px + 16px + 24px);
		position: relative;
		user-select: none;
		backface-visibility: hidden;
	}
	
	.timeline {
		position: absolute;
		left: 24px;
		top: 0px;
	}
	
	.name {
		margin: 0;
		font-size: 16px;
		color: $indigo-400;
		font-weight: 400;
	}
	
	.times {
		display: flex;
		flex-wrap: wrap;
	}
	
	.salah-time {
		flex: none;
		margin-right: 28px;

		&:last-of-type {
			margin: 0;
		}
	}
	
	.notice {
		color: $indigo-300;
		font-size: 16px;
		font-style: italic;
		margin: 0;
	}
</style>
