<template>
	<div class="salah-time" v-bind:class="{ 'light': light }" >
		<time v-bind:datetime="time" class="time" >{{ formattedTime }}</time>
		<h3 class="title">{{ title }}</h3>
	</div>
</template>

<script>
	export default {
		name: 'SalahTime',

		props: [ 'title', 'time', 'format', 'light' ],

		computed: {

			formattedTime: function () {
				if ( this.format === 24 ) {
					return this.time;
				}

				let parts = this.time.toString().match( /^([01]\d|2[0-3])(:)([0-5]\d)?$/ );

				parts = parts.slice( 1 );  // Remove full string match value
				parts[4] = parseInt( parts[0] ) < 12 ? 'AM' : 'PM'; // Set AM/PM
				parts[0] = +parseInt( parts[0] ) % 12 || 12; // Adjust hours

				return ( '0' + parts.join( '' ) ).substr( -7, 7 );
			}
		}
	}

</script>


<style scoped lang="scss">
	@import '../../styles/global';
	
	//
	$line-size: 2px;
	//
	.salah-time {
		backface-visibility: hidden;
		display: block;
		overflow: hidden;
		user-select: none;
	}

	.light {
		.time ,
		.title {
			color: $white;
		}
	}
	
	.title {
		color: $indigo-400;
		font-size: 14px;
		font-weight: 300;
		letter-spacing: 0.5px;
		line-height: 1.4;
		margin: 0;
	}
	
	.time {
		font-family: 'Roboto Mono', monospace, sans-serif;
		font-size: 24px;
		line-height: 1.4;
		display: block;
		color: $indigo-700;
	}
</style>