<template>
	<div class="timeline" v-bind:class="stateClass">
		<svg class="bar" width="16" height="100%" preserveAspectRatio="none" v-if="showTrack" >
			<line class="track" x1="8" y1="0" x2="8" y2="100%" />
			<line class="slide" x1="8" y1="0" x2="8" y2="100%" />
		</svg>
		<svg class="point" viewBox="0 0 16 16" preserveAspectRatio="xMidYMin meet">
			<circle class="ring" cx="8" cy="8" r="6.5" />
			<circle class="dot" cx="8" cy="8" r="5" />
		</svg>
	</div>
</template>

<script>
	import * as TimeLineState from 'data/TimeLineState';

	export default {
		name: 'TimeLine',

		props: {
			state: String,
			showTrack: {
				type: Boolean,
				default: true
			},
		},

		computed: {
			stateClass: function () {
				return {
					'disabled': this.state === TimeLineState.DISABLED,
					'in-progress': this.state === TimeLineState.IN_PROGRESS,
					'past': this.state === TimeLineState.PAST,
				}
			}
		}
	}

</script>

<style scoped lang="scss">
	//
	@import '../../styles/global';
	
	//
	.timeline {
		height: 100%;
		overflow: hidden;
		width: 16px;
	}
	
	.bar {
		height: calc(100% - 16px);
		left: 8px;
		transform: translateX(-50%); 
		// mix-blend-mode: soft-light;
		position: absolute;
		top: 16px;
		stroke: $grey-300;
		stroke-width: 2px;
		opacity: 0.6;
	}
	
	.point {
		// margin-top: 0;
	}
	
	.ring {
		fill: none;
		stroke-width: 3px;
		r: 6.5px;
		// stroke: $light-blue-400;
		stroke: $grey-300;
		opacity: 0.6;
		// mix-blend-mode: soft-light;
	}
	
	.dot {
		transform: scale(0);
		transform-origin: center;
		fill: $white;
	}
	
	.disabled {
		.dot {
			transform: scale(1);
			fill:  $grey-300;
			opacity: 0.6;
			// mix-blend-mode: soft-light;
		}
	}
	
	.in-progress {
		.dot {
			transform: scale(0.8);
			fill: $light-blue-a700;
		}

		.ring {
			opacity: 0.7;
			r: 7px;
			stroke-width: 2px;
		}
	}
	
	.past {
		.dot {
			transform: scale(1.1);
			fill: $blue-400;
		}
	}
</style>